<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base}">
<meta charset="ISO-8859-1">


<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Estado de Pacientes</a></li>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header">
					<h5>Expedientes del sistema</h5>
					<div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert">Estado cambiado exitosamente!!</div>
					<div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert">Error, intente de nuevo!!</div>
				</div>
				<div class="card-block table-border-style">
					 <div class="table-responsive-xl">
						<div th:if="${not #lists.isEmpty(personas)}">
							 <table id="tablapacientes" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
								<thead class="thead-dark">
									<tr>
										<th>Cod. Expediente</th>
										<th>Nombre de paciente</th>
								
										<th>Estado</th>
										<th>Modificar estado</th>

									</tr>
								</thead>
								<tbody>
									<tr data-th-each="persona : ${personas}">
											<td th:text="${persona.paciente.expediente.codigo}">codigo</td>
											<td th:text="${persona.nombre  + ' ' + persona.apellido}">nombre</td>
											
											<td>
											
											 <span th:if="${persona.estado} == true" class="badge badge-success" th:text="${'ACTIVO'}"></span>
											 <span th:if="${persona.estado} == false" class="badge badge-danger" th:text="${'INACTIVO'}"></span>
											</td>
											<td>
                                            <a class="btn waves-effect waves-light btn-info"
											th:href="${'/paciente/statusForm/' + persona.id}"><i
													class="fa fa-pencil"></i></a>

										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>