<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base_usuarios}">
<meta charset="ISO-8859-1">
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Registrar empleado</a></li>
<div class="row justify-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Registrar empleado</h5>
                <h6><span th:text="${date_today}"></span></h6>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
                <form class="form-material" th:action="@{/empleados/add_empleado}" th:object="${empleado}" method="post"
                      id="form_register_empleado">
                    <div class="form-group form-default">
                        <input id="nombre_id" type="text" name="footer-email" class="form-control" th:field="*{persona.nombre}"
                               required  minlength="1" maxlength="100"
                               th:errorClass="'form-control form-control-danger'">
                        <small id="lblErrorName" class="form-text text-danger"></small> <small
                            class="form-text text-danger" th:if="${#fields.hasErrors('persona.nombre')}"
                            th:errors="*{persona.nombre}"></small><span class="form-bar"></span>
                        <label class="float-label">Nombre</label>
                    </div>
                    <div class="form-group form-default">
                        <input id="apellido_id" type="text" name="footer-email" class="form-control"
                               th:field="*{empleado.persona.apellido}" required minlength="1"
                               maxlength="100">
                        <small id="lblErrorLastname" class="form-text text-danger"></small><small
                            class="form-text text-danger" th:if="${#fields.hasErrors('persona.apellido')}"
                            th:errors="*{persona.apellido}"></small><span class="form-bar"></span>
                        <label class="float-label">Apellido</label>
                    </div>
                    <div class="form-group form-default">
                        <input  name="footer-email" class="form-control input-element" th:field="*{persona.fechaNacimiento}"
                               placeholder="Fecha nacimiento: YYYY/MM/DD | DD/MM/YYYY">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('persona.fechaNacimiento')}"
                               th:errors="*{persona.fechaNacimiento}"></small><span class="form-bar"></span>
                    </div>
                    <div class="form-group form-default ">
                        <input type="number" name="footer-email" class="form-control" th:field="*{persona.edad}" required
                               min="0" max="150" value=" ">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('persona.edad')}"
                               th:errors="*{persona.edad}"></small><span class="form-bar"></span>
                        <label class="float-label">Edad</label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Sexo</label>
                        <div class="col-sm-10">
                            <select name="select" class="form-control" th:field="*{persona.sexo}">
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-default">
                        <input type="text" name="footer-email" class="form-control" th:field="*{persona.telefono}" min="1"
                               pattern="^[0-9]+" required maxlength="11"
                               placeholder="Telefono: 99999999999 sin espacio">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('persona.telefono')}"
                               th:errors="*{persona.telefono}"></small><span class="form-bar"></span>
                    </div>
                    <div class="form-group form-default">
                        <input type="text" class="form-control" th:field="*{persona.colonia}" required minlength="1"
                               maxlength="250"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('persona.colonia')}"
                               th:errors="*{persona.colonia}"></small><span class="form-bar"></span>
                        <label class="float-label">Colonia</label>
                    </div>
                    <div class="form-group form-default">
                        <textarea class="form-control" th:field="*{persona.direccion}" required minlength="1"
                                  maxlength="250"></textarea>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('persona.direccion')}"
                               th:errors="*{persona.direccion}"></small><span class="form-bar"></span>
                        <label class="float-label">Direcci&oacute;n</label>
                    </div>
                    <div class="form-group form-default">
                        <textarea class="form-control" th:field="*{persona.comentario}" required minlength="1"
                                  maxlength="1000"></textarea>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('persona.comentario')}"
                               th:errors="*{persona.comentario}"></small><span class="form-bar"></span>
                        <label class="float-label">Comentario</label>
                    </div>
                    <div class="form-group form-default" display="hidden">
                        <input type="hidden" class="form-control" th:field="*{persona.colonia}" required minlength="1"
                               maxlength="250"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('persona.comentario')}"
                               th:errors="*{persona.comentario}"></small><span class="form-bar"></span>
                        <label class="float-label">Clinica</label>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
                <button class="btn waves-effect waves-light btn-primary btn-outline-primary"
                        form="form_register_empleado" type="submit" id="submitFormEmpleado"><i class="icofont icofont-info-square"></i>Guardar
                </button>
                <a th:href="@{/empleados/}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i
                        class="icofont icofont-warning-alt"></i>Cancelar</a>
            </div>
        </div>
        <div th:if="${result==1}" class="alert alert-success" style="font-size: 20px" role="alert">Agregado
            exitosamente!!
        </div>
        <div th:if="${result==0}" class="alert alert-danger" style="font-size: 20px" role="alert">Error, intente de
            nuevo!!
        </div>

        <div class="row">

        </div>
        <!-- Page-body end -->
    </div>
    <div id="styleSelector"></div>
</div>

</body>
<div th:replace="base/base :: footer">

</div>
<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>

</html>