<!DOCTYPE html>
<html lang="es">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<head th:replace="base/head :: header"></head>

<body>

	<div class="theme-loader">
		<div class="loader-track">
			<div class="preloader-wrapper">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">
			<nav class="navbar header-navbar pcoded-header">
				<div class="navbar-wrapper">
					<div class="navbar-logo">
						<a class="mobile-menu waves-effect waves-light"
							id="mobile-collapse" href="#!"> <i class="ti-menu"></i>
						</a>
						<div class="mobile-search waves-effect waves-light">
							<div class="header-search">
								<div class="main-search morphsearch-search">
									<div class="input-group">
										<span class="input-group-addon search-close"><i
											class="ti-close"></i></span> <input type="text" class="form-control"
											placeholder="Enter Keyword"> <span
											class="input-group-addon search-btn"><i
											class="ti-search"></i></span>
									</div>
								</div>
							</div>
						</div>
						<a href="/producto"> <img class="img-fluid"
							src="images/logo-sicimed.png" th:src="@{/images/logo-sicimed.png}" alt="Theme-Logo" />
						</a> <a class="mobile-options waves-effect waves-light"> <i
							class="ti-more"></i>
						</a>
					</div>

					<!--  navbar-start  -->
					<div class="navbar-container container-fluid">
						<ul class="nav-left">
							<li>
								<div class="sidebar_toggle">
									<a href="javascript:void(0)"><i class="ti-menu"></i></a>
								</div>
							</li>
							<li class="header-search">
								<div class="main-search morphsearch-search">
									<div class="input-group">
										<span class="input-group-addon search-close"><i
											class="ti-close"></i></span> <input type="text" class="form-control">
										<span class="input-group-addon search-btn"><i
											class="ti-search"></i></span>
									</div>
								</div>
							</li>
							<li><a href="#!" onclick="javascript:toggleFullScreen()"
								class="waves-effect waves-light"> <i class="ti-fullscreen"></i>
							</a></li>
						</ul>
						<ul class="nav-right">
						<li><a href="#" th:href="@{/}"><i class="ti-folder"></i> Pacientes</a></li>

						<li><a href="#" th:href="@{/usuario}"><i class="ti-user"></i> Usuarios </a></li>

							<li><a href="#" th:href="@{/producto}"><i class="ti-package"></i> Productos</a></li>

							
							<li class="header-notification"><a href="#!"
								class="waves-effect waves-light"> <i class="ti-bell"></i> <span
									class="badge bg-c-red"></span>
							</a>
								<ul class="show-notification">
									<li>
										<h6>Notificaciones</h6> <label class="label label-success">
											1</label> <label class="label label-danger">2</label>
									</li>

								</ul></li>
							<!--  notification-end -->

							<li class="user-profile header-notification"><a href="#!"
								class="waves-effect waves-light"> <img
									src="images/avatar-4.jpg" th:src="@{/images/perfil.png}" class="img-radius"
									alt="User-Profile-Image"> <span></span>  <span th:text = "${username}"></span> <i
									class="ti-angle-down"></i>
							</a>
								<ul class="show-notification profile-notification">
<!--									<li class="waves-effect waves-light"><a href="#!"> <i-->
<!--											class="ti-settings"></i> Herramientas-->
<!--									</a></li>-->
<!--									<li class="waves-effect waves-light"><a-->
<!--										href="user-profile.html"> <i class="ti-user"></i> Perfil-->
<!--									</a></li>-->
<!--									<li class="waves-effect waves-light"><a-->
<!--										href="email-inbox.html"> <i class="ti-email"></i> Mensajes-->
<!--									</a></li>-->
<!--									<li class="waves-effect waves-light"><a-->
<!--										href="auth-lock-screen.html"> <i class="ti-lock"></i>-->
<!--											Bloquear Pantalla-->
<!--									</a></li>-->
									<li class="waves-effect waves-light">
										<form th:action="@{/logout}" method = "POST">
											<button class = "btn btn-info" type = "submit">
												<i class="ti-layout-sidebar-left"> </i> Salir
											</button>
										</form>
										<!--<a href="auth-normal-sign-in.html"> 
											<i class="ti-layout-sidebar-left"> </i> Salir
										</a>  -->
									</li>
								</ul></li>
						</ul>
					</div>
					<!-- navbar-end -->

				</div>
			</nav>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<nav class="pcoded-navbar">
						<div class="sidebar_toggle">
							<a href="#"><i class="icon-close icons"></i></a>
						</div>
						<div class="pcoded-inner-navbar main-menu">
							<div class="">

								<!--  user-profile-start -->
								<div class="main-menu-header">
									<img class="img-80 img-radius" src="images/avatar-4.jpg" th:src="@{/images/perfil.png}"
										alt="User-Profile-Image">
									<div class="user-details">
										<span id="more-details"><span th:text = "${username}"></span><i
											class="fa fa-caret-down"></i></span>
									</div>
								</div>
								<!--  user-profile-end  -->

								<!-- hidden-menu-start -->
								<div class="main-menu-content">
									<ul>
										<!--<li class="more-details"><a href="user-profile.html"><i class="ti-user"></i>Ver Perfil</a>-->
                                        <!--<a href="#!"><i class="ti-settings"></i>Settings</a> -->
                                        <!--<a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Salir</a></li>-->
									</ul>
								</div>
								<!-- hidden-menu-end -->
							</div>

							<!--  search-start -->
							<div class="p-15 p-b-0">
								<form class="form-material">
									<div class="form-group form-primary">
										
									</div>
								</form>
							</div>
							<!--  search-end -->

							<!--  menu-start  -->
							<div th:insert="base/menu_base_productos :: menu"></div>
							<!--  menu-end  -->

						</div>
					</nav>
					<div class="pcoded-content">

						<!-- Page-header start -->
						<div class="page-header">
							<div class="page-block">
								<div class="row align-items-center">
									<div class="col-md-8">
										<div class="page-header-title">
											<h5 class="m-b-10">SICIMED</h5>
											<p class="m-b-0">Bienvenido al sistema administrativo
												Cl&iacute;nica Integral</p>
										</div>
									</div>
									<div class="col-md-4">
										<ul class="breadcrumb-title">
											<li class="breadcrumb-item"><a href="/producto"> <i
													class="fa fa-home"></i>
											</a></li>
											<li class="breadcrumb-item"><a href="#" th:href="@{/producto}">Inicio</a></li>
										    <li layout:fragment="li_content"></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Page-header end -->

						<!--  content-start -->
						<div class="pcoded-inner-content">
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">
										<div layout:fragment="page_content"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- content-end -->

					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--  footer start -->
	<div th:replace="base/footer :: footer"></div>
	<!--  footer-end -->

	<!-- scripts-start -->
	<script th:replace="base/script :: scripts"></script>
	<!-- scripts-end -->

</body>

</html>