<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
</head>


<body>
<div th:fragment="menu">

    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Administraci&oacute;n</div>


    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Configuraciones</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">
                <li class=" ">
                    <a href="#" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Clinica</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a th:href="@{/servicios_clinica/list_servicios}" sec:authorize="hasAuthority('READ_USER')" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Servicios</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/tipo_examen/list_tipo_examen}"  sec:authorize="hasAuthority('READ_USER')" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Tipos examenes</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/motivos_consulta/list_motivo_consulta}" sec:authorize="hasAuthority('READ_USER')" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Motivos de consulta</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Pacientes</div>
    <ul class="pcoded-item pcoded-left-item">
        <li>
            <a href="#" th:href="@{/paciente/form_register}" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-user"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Registrar Paciente</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/pacientes}" sec:authorize="hasAuthority('WRITE_USER')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Listado de Pacientes</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
            <li>
            <a href="#" th:href="@{/paciente/form_status}" sec:authorize="hasAuthority('READ_USER')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-exchange-vertical"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Estado de Pacientes</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/expediente_clinico/list_expedientes}" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-exchange-vertical"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Expediente</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/expediente_clinico/list_historiales}" sec:authorize="hasAuthority('READ_USER')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-agenda"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Historial clinico</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>

    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Citas</div>
    <ul class="pcoded-item pcoded-left-item">
        <li>
            <a href="#" th:href="@{/cita/list_citas_pendientes}" sec:authorize="hasAuthority('READ_USER')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Citas en espera</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/cita/list_citas_ejecutadas}" sec:authorize="hasAuthority('READ_USER')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Citas realizadas</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>


    </ul>

    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Consultas</div>
    <ul class="pcoded-item pcoded-left-item">
        <li>
            <a href="#" th:href="@{/consulta/list_consultas}" sec:authorize="hasAuthority('READ_USER')"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Lista consultas</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/consulta/show_motivos_consulta}" sec:authorize="hasAuthority('READ_USER')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-agenda"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Motivos de consulta</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/consulta/show_diagnostico_consulta}" sec:authorize="hasAuthority('READ_USER')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-agenda"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Diagn&oacute;sticos realizados</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/consulta/form_estadistica}" sec:authorize="hasAuthority('READ_USER')"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="fa fa-bar-chart f-28"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Estad&iacute;sticas de consultas</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Recetas</div>
    <ul class="pcoded-item pcoded-left-item">
        <li>
            <a href="#" th:href="@{/receta/recetas}"  sec:authorize="hasAuthority('READ_USER')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Recetas ingresadas</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>
    
   
   
</div>

</body>
</html>
