<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
</head>

<body>
<div th:fragment="menu">
<!--  
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Layout</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#" th:href="@{/}" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Inicio</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        
    </ul>-->
   
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Configuraciones</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">
  
                <li class="pcoded-hasmenu">
                    <a href="#" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Tipos de productos</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
	                    <li>
		                    <a th:href="@{/tipomedicamento/new}"  class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Registrar tipo </span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
	                     <li>
		                    <a th:href="@{/tiposmedicamento}"  class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Ver Listado de tipos</span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
                    </ul>
                   
                </li>
                
                 <li class="pcoded-hasmenu">
                    <a href="#" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Marcas</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                     <ul class="pcoded-submenu">
	                    <li>
		                    <a th:href="@{/marca/new}"  class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Registrar marca </span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
	                     <li>
		                    <a th:href="@{/marca/marcas}"  class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Ver Listado de marcas</span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
                    </ul>
                   
                </li>
                
                <li class="pcoded-hasmenu">
                    <a href="#" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Proveedores</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
	                    <li>
		                    <a th:href="@{/proveedor/new}"  class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Registrar proveedor </span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
	                     <li>
		                    <a th:href="@{/proveedor/proveedores}"  class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Ver Listado de proveedores</span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
                   
                    </ul>
                   
                </li>
            </ul>

        </li>
    </ul>
    

    
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Productos</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Productos</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">            
		        <li>
		            <a href="#" th:href="@{/producto/form_create}" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Registrar producto</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		            <a href="#" th:href="@{/productos}" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Listado de productos</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		            <a href="#" th:href="@{/producto/form_status}" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-exchange-vertical"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Estado de Productos</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		            
		        <li>
		            <a href="#" th:href="@{/producto/kardex}" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">kardex</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>                        
            </ul>
        </li>
    </ul>
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Compras</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Compras</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">             
		        <li>
		            <a href="#" th:href="@{/producto/ingreso}" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Ingreso de productos</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		            <a href="#" th:href="@{/producto/ingresos}" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Lista ingresos de productos registrados</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		            <a href="#" th:href="@{/producto/ingresos/list/temp}" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Lista ingresos de productos sin registrar</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>		                                
            </ul>
        </li>
    </ul>
 
   <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Existencias</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Existencias</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">             
		        <li>
		            <a  th:href="@{/existencia/create}" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Ingreso de existencias</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		            <a  th:href="@{/existencias}" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Lista de existencias</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>		                                
            </ul>
        </li>
    </ul>
    
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Estad&iacute;sticas</div>
    <ul class="pcoded-item pcoded-left-item">
       <li class="pcoded-hasmenu">
           	<a href="#"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Estad&iacute;sticas</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">            
		        <li>
		            <a href="#" th:href="@{/producto/estadisticas}" target="_blank" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-bar-chart"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Stock de medicamentos</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		            <a href="#" th:href="@{/productos-vendidos/reporte}" target="_blank" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-bar-chart"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Medicinas menos vendidas</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>                    
		        <li>
		            <a href="#" th:href="@{/producto/reporte}" target="_blank" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="fa fa-file-pdf-o"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Reporte de medicamentos</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>            
            </ul>  
    	</li>
    </ul>
</div>
</body>
</html>
