<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>
<li class="breadcrumb-item" layout:fragment="li_content">Resumen de cantidad de citas por d&iacute;a</a></li>

<div class="row justify-content-around" role="main" layout:fragment="page_content">
    <div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-header">
                        <h5>Rango de fechas</h5>
                    </div>
                     <h4 class="alert alert-danger" th:if="${fechas_error}" th:text="${fechas_vacias}"></h4>
                    <div class="card-block table-border-style">
                        <form class="form-inline" id="form_reason" th:action="@{/cita/contador/citas_diarias}"
                              th:object="${modelDate}" method="post">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Fecha inicio</label>
                                    <div class="col-sm-5">
                                        <input type="date" id="fecha_inicio" class="form-control"
                                               th:field="*{dateStart}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mobile-inputs">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Fecha fin</label>
                                    <div class="col-sm-5">
                                        <input type="date" id="fecha_fin" class="form-control" th:field="*{datEnd}">
                                    </div>
                                </div>
                            </div>

                        </form>
                        <button form="form_reason" type="submit" class="btn waves-effect waves-light btn-info"><i
                                class="ti-clipboard"></i></button> </br>
                        <div th:if="${fechas}">
                            <a th:href="@{'/cita/pdfcantidadcitas'}" target="_blank" class="btn waves-effect waves-light btn-danger"><i
                                    class="fa fa-print"></i>PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <form id="printJS-form">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card-header">
                            <h5>Cantidad de citas</h5>
                        </div>
                        <div class="card-body card-border-success">
                            <div class="card-block table-border-style">
                                <div class="table-responsive-xl">
                                    <div th:if="${not #lists.isEmpty(citas)}">
                                        <div th:if="${citas != 0}">
                                            <table id="tablageneral"
                                                   class="table table-bordered dt-responsive display nowrap"
                                                   style="width:100%;">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Cantidad</th>
             
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-th-each="cita : ${citas}">
                                                    <td th:text="${#temporals.format(cita.fecha,'dd/MM/yyyy')}"></td>
                                                    <td th:text="${cita.cantidad}"></td>
                                                  
                                                </tr>
                                                <tr>
                                                	<td>TOTAL CITAS</td>
                                                	<td th:text="${#aggregates.sum(citas.![cantidad])}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
<!--                                             <table class="table table-bordered dt-responsive display nowrap" -->
<!--                                                    style="width:100%;"> -->
<!--                                             	<thead> -->
<!--                                             	<tr> -->
<!--                                                     <th>Total</th> -->
<!--                                                     <th ></th> -->
             
<!--                                                 </tr> -->
<!--                                             	</thead> -->
<!--                                             </table> -->
                                        </div>
                                        <div th:if="${citas == 0}">
                                            <span class="badge badge-danger" th:text="${'ERROR AL BUSCAR CANTIDAD DE CITAS'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
<!--            <div th:if="${not #lists.isEmpty(citas)}">-->
<!--                <button type="button" onclick="printJS({printable: 'printJS-form', type: 'html', header: 'Motivos Consulta'})" class="btn waves-effect waves-light btn-danger"><i class="ti-printer"></i></button>-->
<!--            </div>-->
        </div>
    </div>
</div>
</body>
</html>