<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Crear cita</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Crear cita</a></li>
<div class="row justify-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Crear cita</h5>
                <h6><span th:text="${date_today}"></span></h6>

            </div>
            <div class="card-block">

                <form class="form-material" th:action="@{'/cita/citas_pendientes/'+${persona.id}}" method="post"
                      id="form_create_cita" th:object="${cita}">
                    <div class="form-group">
                        <label class="float-label">Expediente</label><br><br>
                        <strong><h3 th:text="${persona.paciente.expediente.codigo}"></h3></strong>
                    </div>
                    <div class="form-group form-default">
                        <input id="nombre_paciente" type="text" th:text="${persona.nombre+' '+persona.apellido}"
                               name="footer-email" class="form-control" disabled>
                        <span class="form-bar"></span>
                        <label class="float-label">Paciente</label>
                    </div>
                    <div class="form-group form-default form-static-label">
                        <input id="fecha_consulta" type="date" name="footer-email" class="form-control"
                               th:field="*{fecha_consulta}" required>
                        <span class="form-bar"></span>
                        <label class="float-label">Fecha consulta</label>
                    </div>
                    <div class="form-group form-default">
                        <input id="hora_consulta" type="text" name="footer-email" class="form-control input-hora"
                               th:field="*{hora}" required placeholder="Hora consulta hh:mm">
                        <span class="form-bar"></span>
                    </div>
                    <div class="form-group form-default">
                        <input type="radio" name="tipoHora" th:value="AM" checked="checked" required th:field="*{tipoHora}">AM<br>
                        <input type="radio" name="tipoHora" th:value="PM" th:field="*{tipoHora}">PM<br>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
                <button class="btn waves-effect waves-light btn-primary btn-outline-primary"
                        form="form_create_cita"><i class="icofont icofont-info-square"></i>Guardar
                </button>
                <a class="btn waves-effect waves-light btn-warning btn-outline-warning" th:href="@{/pacientes}"><i
                        class="icofont icofont-warning-alt"></i>Cancelar</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-header">
                <h5>Citas pendientes</h5>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive-xl">
                    <div th:if="${not #lists.isEmpty(citasWait)}">
                        <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap"
                               style="width:100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>Cod. Expediente</th>
                                <th>Nombre</th>
                                <th>Fecha consulta</th>
                                <th>Hora</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="citas : ${citasWait}">
                                <td th:text="${citas.expediente.codigo}"></td>
                                <td th:text="${citas.expediente.paciente.persona.nombre+' '+citas.expediente.paciente.persona.apellido}"></td>
                                <td th:text="${#temporals.format(citas.fecha_consulta,'dd-MM-yyyy')}"></td>
                                <td th:text="${citas.hora+' '+citas.tipoHora}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>