<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Lista de citas realizadas</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Listado de Citas realizadas</a></li>

<div class="row" role="main" layout:fragment="page_content">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h5>Citas realizadas</h5>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive-xl">
                    <div th:if="${not #lists.isEmpty(citasExecuted)}">
                        <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>Cod. Expediente</th>
                                <th>Nombre</th>
                                <th>Fecha consulta</th>
                                <th>Hora</th>
                             
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="citas : ${citasExecuted}">
                                <td><a class="btn btn-sm btn-primary btn-round waves-effect waves-light" th:text="${citas.expediente.codigo}" href="#"></a></td>
                                <td th:text="${citas.expediente.paciente.persona.nombre+' '+citas.expediente.paciente.persona.apellido}"></td>
                                <td th:text="${#temporals.format(citas.fecha_consulta,'dd-MM-yyyy')}"></td>
                                <td th:text="${citas.hora+' '+citas.tipoHora}"></td>
                               <!--  <td><a class="btn btn-sm waves-effect waves-light btn-success"
                                       href="#"><i
                                        class="icofont icofont-eye-alt"></i></a> <a
                                        class="btn btn-sm waves-effect waves-light btn-info"
                                        href="#"><i
                                        class="fa fa-pencil"></i></a>
                                    <a class="btn btn-sm waves-effect waves-light btn-danger"
                                       href="#"><i
                                            class="fa fa-trash"></i></a>
                                </td> -->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>