<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_usuarios}">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<body>
	<div class="pcoded-inner-content"  layout:fragment="page_content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<div class="row justify-content-around" role="main" >
					    
						<div class="col-md-6 ">
							<div class="card">
								<div class="card-header">
									<h5>Ver usuario</h5>
									<!-- <span>Boton de crear o un buscador</span> -->

								</div>
								<div class="card-block">
								<form class="form-material" th:action="${'/users/show_user/' + userModel.username}" th:object="${userModel}" method="get" id="form_register_user" name="form_register_user">
                                   <div class="form-group form-default">
                                      <input type="text" name="footer-email" class="form-control" required="true" th:field="*{username}"  minlength="4" maxlength="40" pattern="[A-Za-z0-9]+" disabled>
                                      
                                      <label class="">Nombre de usuario</label>
                                   </div>
                                   <!-- <div class="form-group form-default">
                                   	<input type="password" name="footer-email" class="form-control" required="true" th:field="*{password}" maxlength = "60" disabled>
                                   	<span class="form-bar"></span>
                                   	<label class="float-label">Contraseņa</label>
                                   </div> -->
                                   <div class="form-group form-default" >
                                      <input type="email" name="footer-email" class="form-control" th:field="*{email}" maxlength = "60" disabled>
                                      
                                       <label class="">Correo Electr&oacute;nico</label>
                                    </div>
                                    <div class="form-group form-default">
                                      <input type="checkbox" name="footer-email" class="form-control align-left" th:field="*{enabled}" disabled>
                                      
                                       <label class="">Activo</label>
                                     </div>
									<div class="list-group row">
									  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
									    <div class="d-flex w-100 justify-content-between">
									      <h6 class="mb-1">Roles</h6>
									    </div>
									  </a>
									  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" th:each="role :${userModel.roles}">
									    <div class="d-flex w-100 justify-content-between" >
									      <h6 class="mb-1" th:text="${role.name}">List group item heading</h6>
									    </div>
									    <p class="mb-1" th:text="${role.details}"></p>
									  </a>
									</div>
                                </form>   
								</div>
							</div>
						</div>
						
                       <div class="col-md-4">
                          <div class="card">
                             <div class="card-header">
                                <h5>Acciones</h5>
                             </div>
                         	 <div class="card-block">
                               <a class="btn waves-effect waves-light btn-info" th:href="@{'/users/edit_user/' + ${userModel.username}}"><i class="fa fa-pencil"></i></a> 
                               <a th:href="@{/users}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                             </div>
                         </div>

                       <!-- Page-body end -->
                       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>