<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_usuarios}">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<body>
	<div class="pcoded-inner-content"  layout:fragment="page_content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<div class="row justify-content-around" role="main" >
					    
						<div class="col-md-6 ">
							<div class="card">
								<div class="card-header">
									<h5>Registrar usuario</h5>
									<!-- <span>Boton de crear o un buscador</span> -->

								</div>
								<div class="card-block">
                                <form class="form-material" th:action="@{/users/add_user}" th:object="${userModel}" method="post" id="form_register_user" name="form_register_user">
                                   <div class="form-group form-default">
                                      <input type="text" name="footer-email" class="form-control" required="true" th:field="*{username}"  minlength="4" maxlength="40" pattern="[A-Za-z0-9]+">
                                      <span class="form-bar"></span>
                                      <label class="float-label">Nombre de usuario</label>
                                   </div>
                                   <div class="form-group form-default">
                                   	<input type="password" name="footer-email" class="form-control" required="true" th:field="*{password}" maxlength = "60">
                                   	<span class="form-bar"></span>
                                   	<label class="float-label">Contrase&ntilde;a</label>
                                   </div>
                                   <div class="form-group form-default" >
                                      <input type="email" name="footer-email" class="form-control" th:field="*{email}" maxlength = "60">
                                      <span class="form-bar"></span>
                                       <label class="float-label">Correo Electr&oacute;nico</label>
                                    </div>
								  <div class="form-group  row">
								    <div class="col-sm-2">Estado</div>
								    <div class="col-sm-10">
								      <div class="form-check">
								    <label class="form-check-label">
								      <input class="form-check-input" type="checkbox" th:field="*{enabled}"> Activo
								    </label>
								      </div>
								    </div>
								  </div>
								   <div class="form-group form-default">
										<label th:text="Roles" class="row-form-label form-control-label m-2" ></label>

											<select class = "form-control select2" id="select2" th:field="${userModel.roles}">
												<option th:each="role :${roles}" th:value="${role.id}"  th:text="${role.name}"></option>												
											</select>
											<button id="select2All" class = "btn btn-sm">Todos</button>
											<button id="select2Clear" class = "btn btn-sm">Limpiar</button>
									</div>
								  	<!-- div class="form-group row">
										<label th:text="Roles" class="col-lg-3 col-form-label form-control-label"></label>
										<div class="col-lg-9 p-2">
											<ul class="list-group" th:field="${userModel.roles}">
											  <li class="list-group-item disabled " style = "background-color:blue; color:white;">Roles</li>
											  <li class="list-group-item" th:each="role :${roles}" ><input type="checkbox" class="form-material p-1" th:value="${role.id}" th:field="${userModel.roles}" th:text="${role.name}"></li>
											</ul>
										</div>
									</div-->
                                     <!-- <div class="row d-flex">
                                     <div class="col-md-6">
                                    	<input type="submit" class = "btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20 ml-auto" value = "registrar" />
                                  	</div> 
                                  </div> -->
                                   </form>
                                   
								</div>
							</div>
						</div>
						
                       <div class="col-md-4">
                          <div class="card">
                             <div class="card-header">
                                <h5>Acciones</h5>
                             </div>
                         	 <div class="card-block">
                               <button class="btn waves-effect waves-light btn-primary btn-outline-primary" form="form_register_user"><i class="icofont icofont-info-square"></i>Guardar</button>
                               <a th:href="@{/users}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                             </div>
                         </div>
 
                       	 <div th:if="${result==1}" class="alert alert-success" style="font-size: 20px" role="alert">Guardado exitosamente</div>
                         <div th:if="${result==0}" class="alert alert-danger" style="font-size: 20px" role="alert"><p th:text = "${error}"></p></div>

                       <!-- Page-body end -->
                       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
'use strict';
$(document).ready(function() {
	$('.select2').select2({
	    multiple: true,
	    placeholder: "Seleccione los roles",
	    closeOnSelect: false,
	    allowClear: true
	});
});
</script>
<style>
.select2-container--default .select2-selection--multiple .select2-selection__choice {background-color: #007bff; };
</style>