<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base_usuarios}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title th:text="${crear} ?  'Crear cita' : 'Editar cita'"></title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Crear cita</a></li>
<div class="row justify-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 th:if="${crear} ? 'Crear cita' : 'Editar cita'"></h5>
                <h6 th:if="${crear}"><span th:text="${date_today}"></span></h6>

            </div>
            <div class="card-block">
				<form class="form-material" th:action="@{'/cita_negocio/form_save/'+${citaId}}" method="post"
                      id="form_create_cita" th:object="${cita}">
                      
                    <div class="form-group form-default">
                        <input id="nombre_paciente" type="text" th:field="*{nombre}"
                               name="footer-email" class="form-control">
                        <span class="form-bar"></span>
                        <label class="float-label">Nombre</label>
                    </div>
                     <div class="form-group form-default">
                        <input id="nombre_paciente" type="text" th:field="*{descripcion}"
                               name="footer-email" class="form-control">
                        <span class="form-bar"></span>
                        <label class="float-label">Descripci&oacute;</label>
                    </div>
                    <div class="form-group form-default form-static-label">
                        <input id="fecha_cita" type="date" name="footer-email" class="form-control"
                               th:field="*{fecha}" required>
                        <span class="form-bar"></span>
                        <label class="float-label">Fecha cita</label>
                    </div>
                    <div class="form-group form-default">
                        <input id="hora_consulta" type="text" name="footer-email" class="form-control input-hora"
                               th:field="*{hora}" required placeholder="Hora consulta hh:mm">
                        <span class="form-bar"></span>
                    </div>
                    <div class="form-group form-default">
                        <input type="radio" name="tipoHora" th:value="AM" checked="checked" required th:field="*{tipoHora}">AM<br>
                        <input type="radio" name="tipoHora" th:value="PM" th:field="*{tipoHora}">PM<br>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
                <button class="btn waves-effect waves-light btn-primary btn-outline-primary"
                        form="form_create_cita"><i class="icofont icofont-info-square"></i>Guardar
                </button>
                <a class="btn waves-effect waves-light btn-warning btn-outline-warning" th:href="@{/cita_negocio/list}"><i
                        class="icofont icofont-warning-alt"></i>Cancelar</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-header">
                <h5>Citas pendientes</h5>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive-xl">
                    <div th:if="${not #lists.isEmpty(citas)}">
                        <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap"
                               style="width:100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>Proceso</th>
                                <th>Nombre</th>
                                <th>Fecha cita</th>
                                <th>Hora</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="cita : ${citas}">
                                <td th:text="${cita.proceso}"></td>
                                <td th:text="${cita.nombre}"></td>
                                <td th:text="${#temporals.format(cita.fecha,'dd-MM-yyyy')}"></td>
                                <td th:text="${cita.hora+' '+cita.tipoHora}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>