<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base_usuarios}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Lista de citas de negocio pendientes</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Listado de Citas de negocio pendientes</a></li>

<div class="row" role="main" layout:fragment="page_content">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h5>Citas pendientes</h5>
                <a class="btn btn-sm btn-primary btn-round waves-effect waves-light" sec:authorize="hasAuthority('READ_CITA_NEGOCIO')" th:href=" @{'/cita_negocio/form_create_update/'+0+'/crear'}">Nueva cita</a>
                <div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
                <div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive-xl">
                    <div th:if="${not #lists.isEmpty(citas)}">
                        <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>Proceso</th>
                                <th>Nombre</th>
                                <th>Fecha cita</th>
                                <th>Hora</th>
                                <th>Ultima modificaci&oacute;</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="cita : ${citas}">
                                <td><a class="btn btn-sm btn-primary btn-round waves-effect waves-light" th:text="${cita.proceso}" th:href=" @{'/cita_negocio/form_create_update/'+${cita.id}+'/actualizar'}"></a></td>
                                <td th:text="${cita.nombre}"></td>
                                <td th:text="${#temporals.format(cita.fecha,'dd-MM-yyyy')}"></td>
                                <td th:text="${cita.hora+' '+cita.tipoHora}"></td>
                                <td th:text="${#dates.format(cita.updatedAt,'dd-MM-yyyy HH:mm')}"></td>
                                <td> <a
                                        class="btn btn-sm waves-effect waves-light btn-info" sec:authorize="hasAuthority('WRITE_CITA_NEGOCIO')"
                                        th:href=" @{'/cita_negocio/form_create_update/'+${cita.id}+'/actualizar'}"><i
                                        class="fa fa-pencil"></i></a>
                                     <a class="btn btn-sm waves-effect waves-light btn-success" sec:authorize="hasAuthority('READ_CITA_NEGOCIO')"
                                       th:href="@{'/cita_negocio/show/'+${cita.id}+'/view'}"><i class="icofont icofont-eye-alt"></i></a>
                                    <a class="btn btn-sm waves-effect waves-light btn-primary" sec:authorize="hasAuthority('READ_CITA_NEGOCIO')"
                                       th:href="@{'/cita_negocio/status/'+${cita.id}}"><i class="fa fa-pencil"></i></a>        
                                    <a class="btn btn-sm waves-effect waves-light btn-danger" sec:authorize="hasAuthority('DELETE_CITA_NEGOCIO')"
                                       th:href="@{'/cita_negocio/show/'+${cita.id}+'/delete'}" ><i
                                            class="fa fa-trash"></i></a>
                                   
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>