<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base_usuarios}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Vista cita</title>
<body>
<div class="row justity-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                <h5>Datos de Cita</h5>
            </div>
            <div class="card-block table-border-style" th:if="${ver}">
                <h6 style="font-weight: bold;">Proceso:<h6 class="form-control-static" th:text="${cita.proceso}" ></h6></h6>
                <h7><strong style="font-weight: bold;">Nombre:</strong><h7 class="form-control-static" th:text="${cita.nombre}" ></h7></h7>
                </br>
                <h7><strong style="font-weight: bold;">Descripci&oacute;n:</strong><h7 th:text="${cita.descripcion}"></h7></h7>
                </br>
                <h7><strong style="font-weight: bold;">Fecha:</strong><h7 th:text="${#temporals.format(cita.fecha,'dd-MM-yyyy')}"></h7></h7>
                </br>
                <h7><strong style="font-weight: bold;">Hora:</strong><h7 class="form-control-static" th:text="${cita.hora+' '+cita.tipoHora}"></h7></h7>
            </div>
            <div class="card-block table-border-style" th:if="${not ver}">
                <h6><strong>&iquest;Desea eliminar datos de Cita ?</strong><h6 class="form-control-static" th:text="${cita.nombre}"></h6></h6>
                <h7><strong> Descripci&oacute;n:</strong><h7 class="form-control-static" th:text="${cita.descripcion}"></h7></h7>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
            </div>
            <div class="card-block table-border-style">
                <form class="form-horizontal" th:if="${ver}">
                    <a class="btn waves-effect waves-light btn-danger" th:href="@{'/cita_negocio/form_create_update/'+ ${cita.id}+'/actualizar'}" ><i class="ti-clipboard"></i>Actualizar</a></td>
                    <a class="btn btn-sm waves-effect waves-light btn-success" sec:authorize="hasAuthority('STATUS_CITA_NEGOCIO')"
                        th:href="@{'/cita_negocio/status/'+${cita.id}}"><i class="ti-close"></i></a>
                    <a th:href="@{/cita_negocio/list}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                </form>
                <form class="form-horizontal" th:if="${not ver}">
                    <a class="btn waves-effect waves-light btn-danger" th:href="@{'/cita_negocio/delete/' + ${cita.id}}"><i class="fa fa-trash"></i>Eliminar</a></td>
                    <a th:href="@{/cita_negocio/list}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                </form>
                

            </div>
        </div>
    </div>
</div>
</body>
</html>