<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>
<li class="breadcrumb-item" layout:fragment="li_content">Estado</a></li>

<div class="row justity-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>Estado de paciente</h5>
            </div>
            <div class="card-block table-border-style">
                <h6 class="form-control-static" th:text="${'&iquest;Desea cambiar el estado del paciente' + ' ' + persona.nombre + ' ' + persona.apellido + '?'}"></h6>
                <br>
              <h6 class="form-control-static" th:text="${'Expediente: '+ ' ' + persona.paciente.expediente.codigo}"></h6> 
              <br>
 <span th:if="${persona.estado} == true" class="badge badge-success" th:text="${'ESTADO ACTIVO'}"></span>
 <span th:if="${persona.estado} == false" class="badge badge-danger" th:text="${'ESTADO INACTIVO'}"></span>
               
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
            </div>
            <div class="card-block table-border-style">
                <form class="form-horizontal">
                    <a class="btn waves-effect waves-light btn-info" th:href="@{'/paciente/status/' + ${persona.id}}"><i
													class="fa fa-pencil"></i>Cambiar estado</a><br>
                    <a th:href="@{/paciente/form_status/}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                </form>

            </div>
        </div>
    </div>

</div>
</body>
</html>