<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base}">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<title>Lista de pacientes</title>

<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Listado de pacientes</a></li>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header">
					<h5>Pacientes Ingresados</h5>
					<div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
					<div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
				</div>
				<div class="card-block table-border-style">
					 <div class="table-responsive-xl">
						<div th:if="${not #lists.isEmpty(personas)}">
							 <table id="tablapacientes" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
								<thead class="thead-dark">
									<tr>
										<th>Cod. Expediente</th>
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Edad</th>
										<th>Direcci&oacute;n</th>
										<th>Opciones</th>

									</tr>
								</thead>
								<tbody>
									<tr data-th-each="persona : ${personas}">
									  <!-- <div th:if="${expediente.paciente.persona.estado} == false">  -->
											<td><a class="btn btn-primary btn-round waves-effect waves-light" th:text="${persona.paciente.expediente.codigo}" th:href="@{'/cita/form_create/'+${persona.id}}"></a></td>
											<td th:text="${persona.nombre}">nombre</td>
											<td th:text="${persona.apellido}">apellido</td>
											<td th:text="${persona.edad}">edad</td>
											<td th:text="${persona.direccion}">direccion</td>
											<td ><a class="btn waves-effect waves-light btn-success"
												th:href="@{'/paciente/' + ${persona.id}}" sec:authorize="hasAuthority('READ_USER')"><i
													class="icofont icofont-eye-alt"></i></a> <a
												class="btn waves-effect waves-light btn-info"
												th:href="@{'/paciente/edit/' + ${persona.id}}" sec:authorize="hasAuthority('WRITE_USER')"><i
													class="fa fa-pencil"></i></a>
												<a class="btn waves-effect waves-light btn-danger"
												th:href="@{'/paciente/deleteForm/' + ${persona.id}}" sec:authorize="hasAuthority('DELETE_USER')"><i
													class="fa fa-trash"></i></a>
											</td>
									  <!-- /div> --> 
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>