<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<body>
	<div class="pcoded-inner-content"  layout:fragment="page_content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<div class="row justify-content-around" role="main" >
					    
						<div class="col-md-6 ">
							<div class="card">
								<div class="card-header">
									<h5>Confirmar eliminaci&oacute;n de Rol</h5>
									<!-- <span>Boton de crear o un buscador</span> -->

								</div>
								<div class="card-block">
                                <form class="form-material" th:action="@{'/roles/delete_role/'+${roleModel.id}}" th:object="${roleModel}" method="post" id="form_register_role" name="form_register_role">
                                   <div class="form-group form-default">                                  
                                      <label class="">Nombre: </label>
                                      <input type="text" name="name" id="name" class="form-control" required="true" th:field="*{name}"  minlength="4" maxlength="40" pattern="[A-Za-z0-9\-]+" disabled>
                                   </div>
                                   <div class="form-group form-default">
                                   		<label class="">Descripci&oacute;n: </label>
                                      <input type="text" name="details" id="details" class="form-control" th:field="*{details}"maxlength="100" disabled>
                                   </div>
                                  </form>
                                   
								</div>
							</div>
						</div>
						
                       <div class="col-md-4">
                          <div class="card">
                             <div class="card-header">
                                <h5>Acciones</h5>
                             </div>
                         	 <div class="card-block">
                               <button class="btn btn-sm waves-effect waves-light btn-danger btn-outline-danger" id="submit" form="form_register_role"><i class="icofont icofont-info-square"></i>Eliminar</button>
                               <a th:href="@{/roles}" class="btn btn-sm waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                             </div>
                         </div>
                       	  <div th:if="${result==1}" class="alert alert-success" style="font-size: 20px" role="alert">Eliminado exitosamente</div> 
                         <div th:if="${result==0}" class="alert alert-danger" style="font-size: 20px" role="alert">Error. <p th:text = "${error}"><p></div>

                       <!-- Page-body end -->
                       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
