<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_usuarios}">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<body>
	<div class="pcoded-inner-content"  layout:fragment="page_content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<div class="row justify-content-around" role="main" >
					    
						<div class="col-md-6 ">
							<div class="card">
								<div class="card-header">
									<h5>Registrar Rol</h5>
									<!-- <span>Boton de crear o un buscador</span> -->

								</div>
								<div class="card-block">
                                <form class="form-material" th:action="@{/roles/add_role}" th:object="${roleModel}" method="post" id="form_register_role" name="form_register_role">
                                   <div class="form-group form-default">
                                      <input type="text" name="name" id="name" class="form-control" required="true" th:field="*{name}"  minlength="4" maxlength="40" pattern="[A-Za-z0-9\-]+">
                                      <span class="form-bar"></span>
                                      <label class="float-label">Nombre: </label>
                                   </div>
                                   <div class="form-group form-default">
                                      <input type="text" name="details" id="details" class="form-control" th:field="*{details}"maxlength="100">
                                      <span class="form-bar"></span>
                                      <label class="float-label">Descripci&oacute;n: </label>
                                   </div>
                                   
                                   <div class="form-group form-default">
										<label th:text="Permisos" class="row-form-label form-control-label m-2" ></label>
											<!-- <ul class="list-group" th:field="${roleModel.permissions}"> -->
											  <!--<li class="list-group-item disabled " style = "background-color:blue; color:white;">Permisos</li> -->
											  <!--<li class="list-group-item" th:each="permiss :${permissions}" >
											  	<input type="checkbox" name="opt" th:id ="${'opt-' + permiss.id}" class="form-material p-1" th:value="${permiss.id}" th:field="${roleModel.permissions}" th:text="${permiss.name}">
											  </li>
											</ul> -->
											<select class = "form-control select2" id="select2" th:field="${roleModel.permissions}">
												<option th:each="permiss :${permissions}" th:value="${permiss.id}"  th:text="${permiss.name}"></option>												
											</select>
											<button id="select2All" class = "btn btn-sm">Todos</button>
											<button id="select2Clear" class = "btn btn-sm">Limpiar</button>
									</div>
                                     <!-- <div class="row d-flex">
                                     <div class="col-md-6">
                                    	<input type="submit" class = "btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20 ml-auto" value = "registrar" />
                                  	</div> 
                                  </div> -->
                                   </form>
                                   
								</div>
							</div>
						</div>
						
                       <div class="col-md-4">
                          <div class="card">
                             <div class="card-header">
                                <h5>Acciones</h5>
                             </div>
                         	 <div class="card-block">
                               <button class="btn btn-sm waves-effect waves-light btn-primary btn-outline-primary" id="submit" form="form_register_role"><i class="icofont icofont-info-square"></i>Guardar</button>
                               <a th:href="@{/roles}" class="btn btn-sm waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                             </div>
                         </div>
                       	  <div th:if="${result==1}" class="alert alert-success" style="font-size: 20px" role="alert">Guardado exitosamente</div> 
                         <div th:if="${result==0}" class="alert alert-danger" style="font-size: 20px" role="alert">Error, intente de nuevo</div>

                       <!-- Page-body end -->
                       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
'use strict';
$(document).ready(function() {
	$('.select2').select2({
	    multiple: true,
	    placeholder: "Seleccione los permisos",
	    closeOnSelect: false,
	    allowClear: true
	});
	$('#select2All').onClick(function (){
		$('#select2 > option').prop("selected",true).trigger("change.select2");
	});
	$('#select2Clear').onClick(function (){
		$('#select2 > option').prop("selected",false).trigger("change.select2");
	});
	
	$('#select2').onLoad(function(){
		//Recorrer con for
		var activosArr = "[[${activos}]]";
		$.each(activosArr.split(','), function( index, value ) {
			  alert( index + ": " + value );
			  $('#select2').val(value).trigger('change.select2');
			});
	});

});

</script>
<style>
.select2-container--default .select2-selection--multiple .select2-selection__choice {background-color: #007bff; };
</style>