<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_usuarios}">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<body>
	<div class="pcoded-inner-content"  layout:fragment="page_content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<div class="row justify-content-around" role="main" >
					    
						<div class="col-md-6 ">
							<div class="card">
								<div class="card-header">
									<h5>Informaci&oacute;n del Rol</h5>
									<!-- <span>Boton de crear o un buscador</span> -->

								</div>
								<div class="card-block">
                                <form class="form-material" th:action="@{/roles/add_role}" th:object="${roleModel}" method="post" id="form_register_role" name="form_register_role">
                                   <div class="form-group form-default">                                  
                                      <label class="">Nombre: </label>
                                      <input type="text" name="name" id="name" class="form-control" required="true" th:field="*{name}"  minlength="4" maxlength="40" pattern="[A-Za-z0-9\-]+" disabled>
                                   </div>
                                   <div class="form-group form-default">
                                   		<label class="">Descripci&oacute;n: </label>
                                      <input type="text" name="details" id="details" class="form-control" th:field="*{details}"maxlength="100" disabled>
                                   </div>
                                   
									<div class="list-group row">
									  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
									    <div class="d-flex w-100 justify-content-between">
									      <h6 class="mb-1">Permisos</h6>
									    </div>
									  </a>
									  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" th:each="permiss :${roleModel.permissions}">
									    <div class="d-flex w-100 justify-content-between" >
									      <h6 class="mb-1" th:text="${permiss.name}">List group item heading</h6>
									    </div>
									    <p class="mb-1" th:text="${permiss.name}"></p>
									  </a>
									</div>

                                   </form>
                                   
								</div>
							</div>
						</div>
						
                       <div class="col-md-4">
                          <div class="card">
                             <div class="card-header">
                                <h5>Acciones</h5>
                             </div>
                         	 <div class="card-block">
                               <a class="btn waves-effect waves-light btn-info" th:href="@{'/roles/edit_role/' + ${roleModel.id}}"><i class="fa fa-pencil"></i></a> 
                               <a th:href="@{/roles}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                             </div>
                         </div>

                       <!-- Page-body end -->
                       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>