<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_productos}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Marca Ingresada </a></li>

	<div class="row justify-content-around" role="main" layout:fragment="page_content">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5>Marca Ingresada</h5>

				</div>
				
				<div class="card-block table-border-style">
					<form class="form-horizontal">
				
                <div class="row">
				   <div class="col-sm-1"></div>
                   <div class="col-sm-4"><b>Nombre:</b></div>
                   <div class="col-sm-7"><p class="form-control-static" th:text="${marca.nombre}" >nombre</p></div>
                </div>
                
                        
            </form>

				</div>
			</div>
		</div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Acciones</h5>
                </div>
                <div class="card-block table-border-style">
                  
                    <a class="btn waves-effect waves-light btn-danger" th:href="${'/marca/marca/deleteForm/' + marca.id}"><i class="fa fa-trash"></i></a></td>
                </div>
            </div>
        </div>

	</div>
</body>
</html>