<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_usuarios}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Lista de empleados</title>
<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Listado de Empleados</a></li>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header">
					<h5>Empleados Ingresados</h5>
					<div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
					<div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
				</div>
				<div class="card-block table-border-style">
					 <div class="table-responsive-xl">
						<div th:if="${not #lists.isEmpty(empleados)}">
							 <table id="tablaempleados" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
								<thead class="thead-dark">
									<tr>
										<th>id</th>
										<th>Creaci&oacute;n</th>
										<th>Edici&oacute;n</th>										
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Edad</th>
										<th>Opciones</th>

									</tr>
								</thead>
								<tbody>
									<tr data-th-each="em : ${empleados}">
											<td><a class="btn btn-primary btn-round waves-effect waves-light" th:text="${em.id}" th:href="@{'/empleados/show/'+${em.id}}"></a></td>
											<td th:text="${em.createdAt}" ></td>
											<td th:text="${em.updatedAt}" ></td>
											<td th:text="${em.persona.nombre}">nombre</td>
											<td th:text="${em.persona.apellido}">apellido</td>
											<td th:text="${em.persona.edad}">edad</td>
											<td>
												<a class="btn waves-effect waves-light btn-success" sec:authorize="hasAuthority('READ_EMPLEADO')" th:href="@{'/empleados/show/' + ${em.id}}"><i class="icofont icofont-eye-alt"></i></a> 
												<a class="btn waves-effect waves-light btn-info" sec:authorize="hasAuthority('WRITE_EMPLEADO')" th:href="@{'/empleados/edit/' + ${em.id}}"><i class="fa fa-pencil"></i></a>
												<a class="btn waves-effect waves-light btn-danger" sec:authorize="hasAuthority('DELETE_EMPLEADO')" th:href="@{'/empleados/deleteForm/' + ${em.id}}"><i class="fa fa-trash"></i></a>
											</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>