<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_usuarios}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Perfil de Empleado</a></li>

	<div class="row justify-content-around" role="main" layout:fragment="page_content">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5>Datos de Empleado</h5>

				</div>
				<div th:if="${result==1}" class="alert alert-success" style="font-size: 20px" role="alert">Editado exitosamente!!</div>
				<div th:if="${result==0}" class="alert alert-danger" style="font-size: 20px" role="alert">Error, intente de nuevo!!</div>
				<div class="card-block table-border-style">
					<form class="form-horizontal">
				
                <div class="row">
				   <div class="col-sm-1"></div>
                   <div class="col-sm-4" style="font-weight: bold;"><b>Nombre del Empleado:</b></div>
                   <div class="col-sm-7"><p class="form-control-static" th:text="${empleado.persona.nombre + ' ' + empleado.persona.apellido}" >nombre</p></div>
                </div>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4" style="font-weight: bold;"><b>Fecha nacimiento:</b></div>
                            <div class="col-sm-7"><p class="form-control-static" th:text="${empleado.persona.fechaNacimiento }" >Fecha nacimiento</p></div>
                        </div>
                <div class="row">
				   <div class="col-sm-1"></div>
                   <div class="col-sm-4" style="font-weight: bold;"><b>Edad:</b></div>
                   <div class="col-sm-7"><p class="form-control-static" th:text="${empleado.persona.edad + ' ' + 'años'}" >edad</p></div>
                </div>
                <div class="row">
				   <div class="col-sm-1"></div>
                   <div class="col-sm-4" style="font-weight: bold;"><b>Sexo:</b></div>
                   <div class="col-sm-7"><p class="form-control-static" th:text="${empleado.persona.sexo}">sexo</p></div>
                </div>
                <div class="row">
				   <div class="col-sm-1"></div>
                   <div class="col-sm-4" style="font-weight: bold;"><b>Tel&eacute;fono:</b></div>
                   <div class="col-sm-7"><p class="form-control-static" th:text="${empleado.persona.telefono}">teléfono</p></div>
                </div>
                <div class="row">
				   <div class="col-sm-1"></div>
                   <div class="col-sm-4" style="font-weight: bold;"><b>Direcci&oacute;n:</b></div>
                   <div class="col-sm-7"><p class="form-control-static" th:text="${empleado.persona.direccion}">dirección</p></div>
                </div>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4" style="font-weight: bold;"><b>Comentario:</b></div>
                            <div class="col-sm-7"><p class="form-control-static" th:text="${empleado.persona.comentario}">comentario</p></div>
                        </div>
            </form>

				</div>
			</div>
		</div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Datos de Empleado</h5>
                </div>
                <div class="card-block table-border-style">
                    <a class="btn waves-effect waves-light btn-info" th:href="@{'/empleados/edit/' + ${empleado.id}}"><i class="fa fa-pencil"></i></a>
                    <a class="btn waves-effect waves-light btn-danger" th:href="@{'/empleados/deleteForm/' + ${empleado.id}}"><i class="fa fa-trash"></i></a></td>
                </div>
            </div>
        </div>

	</div>
</body>
</html>