<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>
<li class="breadcrumb-item" layout:fragment="li_content">Motivos de consulta</a></li>

<div class="row justify-content-around" role="main" layout:fragment="page_content">
    <div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-header">
                        <h5>Rango de fechas</h5>
                    </div>
                    <div class="card-block table-border-style">
                        <form class="form-inline" id="form_reason" th:action="@{/consulta/list_motivos}"
                              th:object="${modelDate}" method="post">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Fecha inicio</label>
                                    <div class="col-sm-5">
                                        <input type="date" id="fecha_inicio" class="form-control"
                                               th:field="*{dateStart}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mobile-inputs">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Fecha fin</label>
                                    <div class="col-sm-5">
                                        <input type="date" id="fecha_fin" class="form-control" th:field="*{datEnd}">
                                    </div>
                                </div>
                            </div>

                        </form>
                        <button form="form_reason"  type="submit" class="btn waves-effect waves-light btn-info"><i
                                class="ti-clipboard"></i></button> </br>
                        <div th:if="${fechas}">
                            <a  th:href="@{'/consulta/pdfmotivo'}" class="btn waves-effect waves-light btn-danger"><i
                                    class="ti-clipboard"></i>PDF</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <form id="printJS-form">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card-header">
                        <h5>Motivos de consulta</h5>
                    </div>
                    <div class="card-body card-border-success">
                        <div class="card-block table-border-style">
                            <div class="table-responsive-xl">
                                <div th:if="${not #lists.isEmpty(citas)}">
                                    <div th:if="${citas != 0}">
                                        <table id="tablageneral"
                                               class="table table-bordered dt-responsive display nowrap"
                                               style="width:100%;">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Motivo</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-th-each="cita : ${citas}">
                                                <td th:text="${cita.fecha_consulta}"></td>
                                                <td th:text="${cita.consulta.motivoConsulta}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div th:if="${citas == 0}">
                                        <span class="badge badge-danger" th:text="${'ERROR AL BUSCAR MOTIVOS'}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
<!--            <div th:if="${not #lists.isEmpty(citas)}">-->
<!--            <button type="button" onclick="printJS({printable: 'printJS-form', type: 'html', header: 'Motivos Consulta'})" class="btn waves-effect waves-light btn-danger"><i class="ti-printer"></i></button>-->
<!--            </div>-->
        </div>
    </div>
</div>
</body>
</html>