<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_productos}">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">


<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Estado de Productos</a></li>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header">
					<h5>Productos activos y desactivados del sistema</h5>
					<div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert">Estado cambiado exitosamente!!</div>
					<div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert">Error, intente de nuevo!!</div>
				</div>
				<div class="card-block table-border-style">
					 <div class="table-responsive">
						<div th:if="${not #lists.isEmpty(productos)}">
							 <table id="tablaproductos" class="table table-striped table-hover dt-responsive display nowrap" width="100%">
								<thead class="thead-dark">
									<tr>
									    <th>Nombre</th>
										<th>Estado actual</th>
										<th>Modificar estado</th>

									</tr>
								</thead>
								<tbody>
									<tr data-th-each="producto : ${productos}">
											<td th:text="${producto.nombre}">nombre</td>
											<td>
											
											 <span th:if="${producto.estado} == true" class="badge badge-success" th:text="${'PRODUCTO EN EXISTENCIA'}"></span>
											 <span th:if="${producto.estado} == false" class="badge badge-danger" th:text="${'PRODUCTO QUE YA NO ESTA EN EXISTENCIA'}"></span>
											</td>
											<td>
                                            <a class="btn waves-effect waves-light btn-info"
											th:href="@{'/producto/statusForm/' + ${producto.id}}"><i
													class="fa fa-pencil"></i></a>

										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>