<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base_productos}">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<body>
<li class="breadcrumb-item" layout:fragment="li_content">Estado</a></li>

<div class="row justity-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>Modificar el estado del producto</h5>
            </div>
            <div class="card-block table-border-style">
                <h6 class="form-control-static" th:text="${'¿Desea cambiar el estado del producto' + ' ' + producto.nombre +  '?'}"></h6>
                <br>
                <h6><e>* Las razones por las cuales se modifica el estado del producto es:
                 <li>Cambio de proveedor</li>
                 <li>Retiro del medicamento en el mercado</li>
                 <li>Medicamento con muy poca demanda</li>
                 <li>Producto nuevamente disponible en el mercado</li>
                 <li>Otros</li>
                 </e></h6>
              <br>
 <span th:if="${producto.estado} == true" class="badge badge-success" th:text="${'ESTADO ACTUAL: PRODUCTO EN EXISTENCIA DENTRO DE FARMACIA'}"></span>
 <span th:if="${producto.estado} == false" class="badge badge-danger" th:text="${'ESTADO ACTUAL: EL PRODUCTO YA NO SE ENCUENTRA EN EXISTENCIA'}"></span>
               
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
            </div>
            <div class="card-block table-border-style">
                <form class="form-horizontal">
                    <a class="btn waves-effect waves-light btn-info" th:href="@{'/producto/status/' + ${producto.id}}"><i
													class="fa fa-pencil"></i>Cambiar estado</a><br>
                    <a th:href="@{/producto/form_status/}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                </form>

            </div>
        </div>
    </div>

</div>
</body>
</html>