<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_productos}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Tipo de producto </a></li>

	<div class="row justify-content-around" role="main" layout:fragment="page_content">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5>Tipo de producto ingresado</h5>

				</div>
				<div th:if="${result==1}" class="alert alert-success" style="font-size: 20px" role="alert">Editado exitosamente!!</div>
				<div th:if="${result==0}" class="alert alert-danger" style="font-size: 20px" role="alert">Error, intente de nuevo!!</div>
				<div class="card-block table-border-style">
					<form class="form-horizontal">
				
                <div class="row">
				   <div class="col-sm-1"></div>
                   <div class="col-sm-4"><b>Nombre del producto:</b></div>
                   <div class="col-sm-7"><p class="form-control-static" th:text="${tipomedicamento.nombre}" >nombre</p></div>
                </div>
                        
            </form>

				</div>
			</div>
		</div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Acciones </h5>
                </div>
                <div class="card-block table-border-style">

                    <a class="btn waves-effect waves-light btn-danger" th:href="${'/tipomedicamento/deleteForm/' + tipomedicamento.id}"><i class="fa fa-trash"></i></a></td>
                </div>
            </div>
        </div>

	</div>
</body>
</html>