<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Editar cita</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Crear cita</a></li>
<div class="row justify-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Editar cita</h5>
            </div>
            <div class="card-block">

                <form class="form-material" th:action="@{'/cita/form_edit/save/'+${citaId}}" method="post" id="form_create_cita" th:object="${cita}">
                    <div class="form-group">
                        <label class="float-label">Expediente</label><br><br>
                        <strong><h3 th:text="${codigo.expediente.codigo}"></h3></strong>
                    </div>
                    <div class="form-group form-default">
                        <input id="nombre_paciente" type="text" th:text="${codigo.expediente.paciente.persona.nombre+' '+codigo.expediente.paciente.persona.apellido}" name="footer-email" class="form-control" disabled>
                        <span class="form-bar"></span>
                        <label class="float-label">Paciente</label>
                    </div>
                    <div class="form-group form-default form-static-label">
                        <input id="fecha_consulta" type="date" name="footer-email" class="form-control" th:field="*{fecha_consulta}" required>
                        <span class="form-bar"></span>
                        <label class="float-label">Fecha consulta</label>
                    </div>
                    <div class="form-group form-default">
                        <input id="hora_consulta" type="text" name="footer-email" class="form-control input-hora" th:field="*{hora}" required placeholder="Hora consulta hh:mm">
                        <span class="form-bar"></span>
                    </div>
                    <div class="form-group form-default">
                        <input type="radio" name="tipoHora" th:value="AM" th:field="*{tipoHora}">AM<br>
                        <input type="radio" name="tipoHora" th:value="PM" th:field="*{tipoHora}">PM<br>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
                <button class="btn waves-effect waves-light btn-primary btn-outline-primary"
                        form="form_create_cita"><i class="icofont icofont-info-square"></i>Guardar
                </button>
                <a class="btn waves-effect waves-light btn-warning btn-outline-warning" th:href="@{/cita/list_citas_pendientes}"><i
                        class="icofont icofont-warning-alt"></i>Cancelar</a>
            </div>
        </div>

    </div>

</div>
</body>
</html>