<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Lista de citas pendientes</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Listado de Citas pendientes</a></li>

<div class="row" role="main" layout:fragment="page_content">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h5>Citas pendientes</h5>
                <a class="btn waves-effect waves-light btn-danger" th:href="@{'/cita/list_citas_pendientes'(format=pdf)}"><i class="ti-clipboard"></i></a>
                <div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
                <div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive-xl">
                    <div th:if="${not #lists.isEmpty(citasWait)}">
                        <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>Cod. Expediente</th>
                                <th>Nombre</th>
                                <th>Fecha consulta</th>
                                <th>Hora</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="citas : ${citasWait}">
                                <td><a class="btn btn-sm btn-primary btn-round waves-effect waves-light" th:text="${citas.expediente.codigo}" th:href=" @{'/consulta/form_create/'+${citas.id}}"></a></td>
                                <td th:text="${citas.expediente.paciente.persona.nombre+' '+citas.expediente.paciente.persona.apellido}"></td>
                                <td th:text="${citas.fecha_consulta}"></td>
                                <td th:text="${citas.hora+' '+citas.tipoHora}"></td>
                                <td> <a
                                        class="btn btn-sm waves-effect waves-light btn-info" sec:authorize="hasAuthority('WRITE_USER')"
                                        th:href="@{'/cita/form_edit/'+${citas.id}}"><i
                                        class="fa fa-pencil"></i></a>
                                    <a class="btn btn-sm waves-effect waves-light btn-danger" sec:authorize="hasAuthority('DELETE_USER')"
                                       th:href="@{'/cita/delete/'+${citas.id}}" ><i
                                            class="fa fa-trash"></i></a>
                                    <a class="btn btn-sm waves-effect waves-light btn-danger" sec:authorize="hasAuthority('DELETE_USER')"
                                       th:href="@{'/cita/cance_cita/'+${citas.id}}"><i class="ti-close"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>