<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Vista cita</title>
<body>
<div class="row justity-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                <h5>Datos de Cita</h5>
            </div>
            <div class="card-block table-border-style">
                <h6>Cod. expediente:<h6 class="form-control-static" th:text="${cita.getExpediente().getCodigo()}" ></h6></h6>
                <h7><strong>Paciente:</strong><h7 class="form-control-static" th:text="${cita.expediente.paciente.persona.nombre+' '+cita.expediente.paciente.persona.apellido}" ></h7></h7>
                <h7><strong>Fecha:</strong><h7 th:text="${cita.getFecha_consulta()}"></h7></h7>
                <h7><strong>Hora:</strong><h7 class="form-control-static" th:text="${cita.getHora()+' '+cita.getTipoHora()}"></h7></h7>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
            </div>
            <div class="card-block table-border-style">
                <form class="form-horizontal">
                    <a class="btn waves-effect waves-light btn-danger" th:href="${'/consulta/form_create/'+cita.id}" ><i class="ti-clipboard"></i>Realizar consulta</a></td>
                    <a th:href="@{/cita/list_citas_pendientes/}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>