<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Editar Servicio</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Editar Servicio</a></li>
<div class="row justify-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Editar Servicio cl&iacute;nico</h5>
            </div>
            <div class="card-block">

                <form class="form-material" th:action="@{'/servicios_clinica/form_edit/save/'+${servicio.id}}" method="post" id="form_create_mc" th:object="${servicio}">

                    <div class="form-group form-default">
                        <input id="fecha_consulta" type="text" name="footer-email" class="form-control validate_letter" th:field="*{nombre}" required >
                        <small id="lblErrorNameGeneral" class="form-text text-danger"></small>
                        <span class="form-bar"></span>
                        <label class="float-label">Nombre</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
            </div>
            <div class="card-block">
                <button class="btn waves-effect waves-light btn-primary btn-outline-primary"
                        form="form_create_mc"><i class="icofont icofont-info-square"></i>Editar
                </button>
                <a class="btn waves-effect waves-light btn-warning btn-outline-warning" th:href="@{/servicios_clinica/list_servicios}"><i
                        class="icofont icofont-warning-alt"></i>Cancelar</a>
            </div>
        </div>

    </div>

</div>
</body>
</html>