<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Lista de Tipos de examen</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Lista de Tipos de examen</a></li>

<div class="row" role="main" layout:fragment="page_content">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h5>Lista de Servicios cl&iacute;nicos</h5>
                <a class="btn waves-effect waves-light btn-success"
                   th:href="@{/servicios_clinica/form_servicio}"><i class="ti-file" sec:authorize="hasAuthority('WRITE_USER')"></i>Nuevo</a>
                <div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert"  th:text="${mensaje}"></div>
                <div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert"  th:text="${mensaje}"></div>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <div th:if="${not #lists.isEmpty(list_servicios)}">
                         <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>Nombre</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="servicio : ${list_servicios}">
                                <td th:text="${servicio.nombre}"></td>
                                <td>
                                    <a class="btn waves-effect waves-light btn-info"
                                       th:href="@{'/servicios_clinica/form_edit/'+${servicio.id}}" sec:authorize="hasAuthority('WRITE_USER')"><i class="fa fa-pencil"></i></a>
                                    <a class="btn waves-effect waves-light btn-danger"
                                       th:href="@{'/servicios_clinica/form_delete/'+${servicio.id}}" sec:authorize="hasAuthority('DELETE_USER')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>