<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<body>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h5>Receta</h5>
					<div th:if="${result==1}" class="alert alert-success"
						style="font-size: 15px" role="alert">¡Receta agregada
						exitosamente!</div>
					<div th:if="${result==0}" class="alert alert-danger"
						style="font-size: 15px" role="alert">¡Error, intente de
						nuevo!</div>
				</div>
				<div class="col-md-8">
				<table>
					<thead>
						<tr>
							<th><b>Expediente</b></th>
							<th>--</th>
							<th><b>Paciente</b></th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${consultas.cita.expediente.codigo}"></td>
							<td></td>
							<td
								th:text="${consultas.cita.expediente.paciente.persona.nombre + ' ' +consultas.cita.expediente.paciente.persona.apellido}">nombre</td>

						</tr>

					</tbody>
				</table>
             </div>


				<div class="card-block">
					<form class="form-material"
						th:action="@{'/receta/recetaGuardada/'+${consultas.id}}"
						method="post" th:object="${receta}" id="form_register_receta">
						<div class="form-group form-default" form-static-label>
							<textarea id="validate_letter_number1" class="form-control"
								required="" th:field="*{detalle}" minlength="1"
                               maxlength="6000"></textarea>
							<small id="lblErrorNameLetterNumber1"
								class="form-text text-danger"></small> <span class="form-bar"></span>
							<label class="float-label">Detalle</label>
						</div>
						<br>
						<div class="form-group form-default" form-static-label>
							<textarea id="validate_letter_number1" class="form-control"
								th:field="*{recomendacion}" minlength="1"
                               maxlength="3000"></textarea>
							<small id="lblErrorNameLetterNumber1"
								class="form-text text-danger"></small> <span class="form-bar"></span>
							<label class="float-label">Recomendación</label>
						</div>
						<br>
						<div class="form-group form-default" form-static-label>
							<textarea id="validate_letter_number1" class="form-control"
								th:field="*{otros}" minlength="1"
                               maxlength="3000"></textarea>
							<small id="lblErrorNameLetterNumber1"
								class="form-text text-danger"></small> <span class="form-bar"></span>
							<label class="float-label">Otros</label>
						</div>
						<br>
					



						<div>
							<br>
							<button
								class="btn waves-effect waves-light btn-primary btn-outline-primary">
								<i class="icofont icofont-info-square"></i>Guardar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>