<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<body>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5>Ver Receta</h5>
				<div class="card-block">	  
		          <input type="hidden" th:field="*{id}">
					   <div class="form-group form-default" form-static-label>
							<textarea disabled="true" id="validate_letter_number1" class="form-control"
								th:text="${receta.detalle}"></textarea>
							<small id="lblErrorNameLetterNumber1"
								class="form-text text-danger"></small> <span class="form-bar"></span>
							<label class="float-label" style="font-weight: bold;">Detalle</label>
						</div>
						<br>
						<div class="form-group form-default" form-static-label>
							<textarea disabled="true" id="validate_letter_number1" class="form-control"
								th:field="${receta.recomendacion}"></textarea>
							<small id="lblErrorNameLetterNumber1"
								class="form-text text-danger"></small> <span class="form-bar"></span>
							<label class="float-label" style="font-weight: bold;">Recomendación</label>
						</div>
						<br>
						<div class="form-group form-default" form-static-label>
							<textarea disabled="true" id="validate_letter_number1" class="form-control"
								th:field="${receta.otros}"></textarea>
							<small id="lblErrorNameLetterNumber1"
								class="form-text text-danger"></small> <span class="form-bar"></span>
							<label class="float-label" style="font-weight: bold;">Otros</label>
						</div>
						<br>
	
						<div>
							<a target="_blank" 
                                        class="btn waves-effect waves-light btn btn-success"
                                        th:href="@{'/receta/pdfreceta/'+${receta.id}}"><i
                                        class="fa fa-print"></i>Receta</a>
                                        </a>
                                        <a
												class="btn waves-effect waves-light btn-info"
												th:href="@{'/receta/edit/' + ${receta.id}}"><i
													class="fa fa-pencil"></i></a>
										<a class="btn waves-effect waves-light btn-danger"
												th:href="@{'/receta/deleteForm/' + ${receta.id}}"><i
													class="fa fa-trash"></i></a>
													<a th:href="@{/receta/recetas}" class="btn waves-effect waves-light btn-warning btn-outline-warning">
						<i class="icofont icofont-warning-alt"></i>Cancelar</a>
						</div>
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>