<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base}">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Editar Paciente</a></li>
	<div class="row justify-content-around" role="main" layout:fragment="page_content">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5>Editar paciente</h5>
				</div>
				<div class="card-block">
					<form class="form-material" th:action="${'/paciente/save/'}"
						th:object="${persona}" method="post" id="form_edit" >
							<div class="form-group form-default">
							<input  type="text" id="nombre_id" name="txtNombre" class="form-control"
								 th:field="*{nombre}" minlength="1" maxlength="100">
                                <small id="lblErrorName" class="form-text text-danger"></small><small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small><span class="form-bar"></span>
								<label class="float-label">Nombre</label>
						</div>
							<div class="form-group form-default">
							<input type="text" id="apellido_id" name="txtApellido" class="form-control"
								 th:field="*{apellido}"  minlength="1" maxlength="100">
                                <small id="lblErrorLastname" class="form-text text-danger"></small><small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small><span class="form-bar"></span>
								<label class="float-label">Apellido</label>
						</div>
						<div class="form-group form-default">
							<input type="text" id="fechaNacimiento" onchange="calcularEdad(this.value)" name="footer-email" class="form-control input-date"  th:field="${persona.fechaNacimiento}"  placeholder="Fecha nacimiento: DD/MM/YYYY">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></small><span class="form-bar"></span>
						</div>
						<div class="form-group">
							<input type="text" id="edadPaciente" name="txtEdad" class="form-control"
								 th:field="*{edad}">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></small><span class="form-bar"></span>
							<label class="float-label">Edad</label>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Sexo</label>
							<div class="col-sm-10">
								<select id="txtSexo" name="txtSexo" class="form-control"
									th:field="*{sexo}">
									<option value="Masculino">Masculino</option>
									<option value="Femenino">Femenino</option>
								</select>
							</div>
						</div>
						<div class="form-group form-default">
							<input type="tel" id="numeroTelefonico" name="txtTelefono" class="form-control"
								 th:field="*{telefono}" min="1" pattern="^[0-9 ]+" maxlength="11" placeholder="Telefono: 2222 2222">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small><span class="form-bar"></span>
<!--								<label class="float-label">TelÃ©fono</label>-->
						</div>
						<div class="form-group form-default">
							<input type="text" class="form-control" id="txtColonia" name="txtColonia"  th:field="*{colonia}" />
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('colonia')}" th:errors="*{colonia}"></small><span class="form-bar"></span>
							 <label class="float-label">Colonia</label>
						</div>
						<div class="form-group form-default">
							<textarea class="form-control" id="txtDireccion" name="txtDireccion"
								th:field="*{direccion}" minlength="1" maxlength="250"></textarea>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small><span class="form-bar"></span>
							<label class="float-label">Direcci&oacute;n</label>
						</div>
						<div class="form-group form-default">
                        <textarea class="form-control" th:field="*{comentario}" required minlength="1"
								  maxlength="1000"></textarea>
							<small class="form-text text-danger" th:if="${#fields.hasErrors('comentario')}"
								   th:errors="*{comentario}"></small><span class="form-bar"></span>
							<label class="float-label">Comentario</label>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					<h5>Acciones</h5>
				</div>
				<div class="card-block">
					<button
							class="btn waves-effect waves-light btn-primary"
							type="submit" form="form_edit">
						<i class="icofont icofont-info-square"></i>Editar
					</button>
					<a th:href="@{/pacientes/}" class="btn waves-effect waves-light btn-warning btn-outline-warning">
						<i class="icofont icofont-warning-alt"></i>Cancelar</a>
				</div>
			</div>

		</div>

	</div>
</body>
</html>