<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_productos}">
<meta http-equiv="content-type" content="text/html; UTF-8">
<body>
	<div class="pcoded-inner-content"  layout:fragment="page_content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<div class="row justify-content-around" role="main" >
					    
						<div class="col-md-6 ">
							<div class="card">
								<div class="card-header">
									<h5>Registrar proveedor</h5>
				

								</div>
					<div class="card-block">
					<form class="form-material" th:action="@{/proveedor/add_proveedor/}
				  "
						method="post" th:object="${proveedor}" id="guardar">
						<div class="form-group form-default">
							<input th:field="*{nombre}" id="nombre_id" type="text"
								name="footer-email" class="form-control" required  minlength="1" maxlength="100"
								 > <small id="lblErrorName"
								class="form-text text-danger"></small> <small
								class="form-text text-danger"></small><span class="form-bar"></span>
							<label class="float-label">Nombre</label>
						</div>
						<div class="form-group form-default">
							<input th:field="*{email}" id="nombre_id" type="email"
								name="footer-email" class="form-control" required  minlength="1" maxlength="100" > 
								<small id="lblErrorName"
								class="form-text text-danger"></small> <small
								class="form-text text-danger"></small><span class="form-bar"></span>
							<label class="float-label">Email</label>
						</div>
						<div class="form-group form-default">
							<input th:field="*{telefono}" id="numeroTelefonico" type="tel"
								name="footer-email" class="form-control" placeholder="Teléfono: 2222 2222" required min="1" pattern="^[0-9 ]+" maxlength="11"
								 > 
								<small class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}"
                               th:errors="*{telefono}"></small><span class="form-bar"></span>
							<label class="float-label">Teléfono</label>
						</div>
						<div class="form-group form-default">
                        <textarea class="form-control" th:field="*{direccion}" required minlength="1"
                                  maxlength="250"></textarea>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('direccion')}"
                               th:errors="*{direccion}"></small><span class="form-bar"></span>
                        <label class="float-label">Dirección</label>
                    </div>

					</form>
				</div>
							</div>
						</div>
						
                       <div class="col-md-4">
                          <div class="card">
                             <div class="card-header">
                                <h5>Acciones</h5>
                             </div>
                         	 <div class="card-block">
                               <button class="btn waves-effect waves-light btn-primary btn-outline-primary" form="guardar"><i class="icofont icofont-info-square"></i>Guardar</button>
                               <a th:href="@{/proveedor/proveedores}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                             </div>
                         </div>
                          <div th:if="${result==1}" class="alert alert-success" style="font-size: 20px" role="alert">Agregado exitosamente!!</div>
                         <div th:if="${result==0}" class="alert alert-danger" style="font-size: 20px" role="alert"><p th:text = "${error}"></p></div>
                         
                       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>