<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_productos}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Lista de Existencias</title>
<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Listado de existencia</a></li>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header">
					<h5>Existencias Registradas</h5>
					<div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert">¡¡Medicamento eliminado exitosamente!!</div>
					<div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert">¡¡Error, intente de nuevo!!</div>
				</div>
				<div class="card-block table-border-style">
					 <div class="table-responsive">
						<div th:if="${not #lists.isEmpty(listEx)}">
							 <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
								<thead class="thead-dark">
									<tr>
										<th>No.Prod.</th>
										<th>Producto</th>
										<th>Costo</th>
										<th>Unidades</th>
										<th>Lote</th>										
										<th>Vence</th>
										<th>Creado</th>										
										<th>Modificado</th>										
										<th>Acci&oacute;n </th>
									</tr>
								</thead>
								<tbody>
									<tr data-th-each="ex : ${listEx}">
											
											<td th:text="${ex.producto.id}">nombre</td>
											<td th:text="${ex.producto.nombre}">nombre</td>
											<td th:text="${ex.producto.costoProm}">nombre</td>
											<td th:text="${ex.stock}">nombre</td>
											<td th:text="${ex.lote}">nombre</td>
											<td th:text="${ex.vence}">Nombre</td>
											<td th:text="${ex.createdAt}">Nombre</td>
											<td th:text="${ex.updatedAt}">Nombre</td>									
											
											<td><!--  <a class="btn waves-effect waves-light btn-success"
												th:href="${'/existencia/' + ex.id}"><i
													class="icofont icofont-eye-alt"></i></a>
												<a class="btn waves-effect waves-light btn-danger"
												th:href="${'/existencia/deleteForm/' + ex.id}"><i
													class="fa fa-trash"></i></a>-->
											</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>