<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>
<li class="breadcrumb-item" layout:fragment="li_content">Cita</a></li>

<div class="row justity-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Datos de Cita</h5>
            </div>
            <div class="card-block table-border-style">
                <h5>&iquest;Desea eliminar tipo de examen:<h5 class="form-control-static" th:text="${tipoExamen.nombre}"></h5>?</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
            </div>
            <div class="card-block table-border-style">
                <form class="form-horizontal">
                    <a class="btn waves-effect waves-light btn-danger" th:href="@{'/tipo_examen/delete/save/' + ${tipoExamen.id}}"><i class="fa fa-trash"></i>Eliminar</a></td>
                    <a th:href="@{/tipo_examen/list_tipo_examen}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                </form>

            </div>
        </div>
    </div>

</div>
</body>
</html>