<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base_usuarios}">
<meta charset="ISO-8859-1">
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Registrar asignación de usuario</a></li>
<div class="row justify-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Editar Asginaci&oacute;n de usuario</h5>
                <h6><span th:text="${date_today}"></span></h6>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
                <form class="form-material" th:action="@{/asignacionusuario/save/}" th:object="${asignacion}" method="post"
                      id="form_register_asignacion">
                     <input type = "hidden" th:field="*{id}" value th:value="${asignacion.id}">
                    <div class="form-group form-default">
                        <select class = "form-control" id="select2" th:field="*{empleado.id}">
							<option th:each="emp :${empleados}" th:value="${emp.id}"  th:text="${emp.persona.nombre}" th:errorClass="'form-control form-control-danger'"></option>												
						</select>
                        <small id="lblErrorName" class="form-text text-danger"></small> <small
                            class="form-text text-danger" th:if="${#fields.hasErrors('empleado')}"
                            th:errors="*{empleado}"></small><span class="form-bar"></span>
                        <label class="float-label">Empleado</label>
                    </div>
                    
                    <div class="form-group form-default">
                        <select class = "form-control" th:field="*{usuario.id}">
							<option th:each="obj :${users}"  th:value="${obj.id}"  th:text="${obj.username}" th:errorClass="'form-control form-control-danger'"></option>												
						</select>
                        <small id="lblErrorName" class="form-text text-danger"></small> <small
                            class="form-text text-danger" th:if="${#fields.hasErrors('usuario')}"
                            th:errors="*{usuario}"></small><span class="form-bar"></span>
                        <label class="float-label">Usuario</label>
                    </div>
                                        
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
                <button class="btn waves-effect waves-light btn-primary btn-outline-primary"
                        form="form_register_asignacion" type="submit" id="submitFormEmpleado"><i class="icofont icofont-info-square"></i>Guardar
                </button>
                <a th:href="@{/asignacionusuario/}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i
                        class="icofont icofont-warning-alt"></i>Cancelar</a>
            </div>
        </div>
        <div th:if="${result==1}" class="alert alert-success" style="font-size: 20px" role="alert">Agregado
            exitosamente!!
        </div>
        <div th:if="${result==0}" class="alert alert-danger" style="font-size: 20px" role="alert">Error, intente de
            nuevo!!
        </div>

        <div class="row">

        </div>
        <!-- Page-body end -->
    </div>
    <div id="styleSelector"></div>
</div>

</body>
<div th:replace="base/base :: footer">

</div>
<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>

</html>