<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>
<li class="breadcrumb-item" layout:fragment="li_content">Estad&iacute;stica consulta</a></li>

<div class="row justify-content-around" role="main" layout:fragment="page_content">
    <div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-header">
                        <h5>Informe semanal consultas realizadas</h5>
                    </div>
                    <div class="card-block table-border-style">
                     
                        <a  target="_blank"  th:href="@{'/consulta/pdf_estadistica'}" class="btn waves-effect waves-light btn-danger"><i
                                class="fa fa-print"></i>PDF</a>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="card">-->
<!--            <div class="container">-->
<!--                <h2 align="center">Grafico de consultas realizadas</h2>-->
<!--                <div id="graficoConsultas"-->
<!--                     style="width: 550px; height: 400px; margin: 0 auto"></div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>