<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Ingresar consulta</title>
<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Ingresar
		consulta</a>
	</li>
	<div class="justify-content-around" role="main"
		layout:fragment="page_content">
		<form class="form-material" method="post" id="form_create_cita"
			th:object="${consulta}"
			th:action="@{'/consulta/form_create/'+${citaPaciente.id}}">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5>Examen f&iacute;sico</h5>
							<h6>
								<span th:text="${date_today}"></span>
							</h6>
						</div>
						<div class="card-block">
							<div class="form-group">
								<label class="float-label">Expediente</label><br>
								<br> <strong><h3
										th:text="${citaPaciente.expediente.codigo}"></h3></strong>
							</div>
							<div class="form-group ">
								<label class="float-label">Paciente</label><br>
								<br> <strong><h3
										th:text="${citaPaciente.expediente.paciente.persona.nombre + ' ' +citaPaciente.expediente.paciente.persona.apellido}"></h3>
								</strong>
							</div>
							<div class="form-group form-default">
								<input type="text" name="footer-email" class="form-control"
									th:field="*{motivoConsulta}" required minlength="1"
									maxlength="6000"> <small id="lblErrorLastname"
									class="form-text text-danger"></small><small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('motivoConsulta')}"
									th:errors="*{motivoConsulta}"></small><span class="form-bar"></span>
								<label class="float-label">Motivo consulta</label>
							</div>
							<br>
							<div class="form-group form-default" form-static-label>
								<textarea id="validate_letter_number1" class="form-control"
									required="" th:field="*{descripcionMotivo}" minlength="1"
									maxlength="6000"></textarea>
								<small id="lblErrorNameLetterNumber1"
									class="form-text text-danger"></small> <span class="form-bar"></span>
								<label class="float-label">Descripci&oacute;n</label>
							</div>
							<div class="form-group form-default" form-static-label>
								<textarea id="validate_letter_number2" class="form-control"
									required="" th:field="*{antecendentes}" minlength="1"
									maxlength="6000"></textarea>
								<small id="lblErrorNameLetterNumber2"
									class="form-text text-danger"></small> <span class="form-bar"></span>
								<label class="float-label">Antecedente</label>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<strong><h3 style="align: center; width: 200px">Datos
							f&iacute;sicos</h3></strong>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-block">
							<div class="form-group form-default">
								<input id="peso" type="number" onchange="calculoImcPC()" min="0"
									max="400" name="footer-email" class="form-control"
									th:field="*{detallePaciente.peso}" placeholder="peso en libras"
									required> <span class="form-bar"></span> <label
									class="float-label">Peso (en kilogramos)</label>
							</div>
							<div class="form-group form-default">
								<input id="talla" type="number" onchange="calculoImcPC()"
									min="0" max="300" name="footer-email" class="form-control"
									th:field="*{detallePaciente.talla}" required> <span
									class="form-bar"></span> <label class="float-label">Talla
									(en cent&iacute;metros)</label>
							</div>
							<div class="form-group form-default">
								<input id="imc" type="number" min="0" step="0.01" max="10000"
									name="footer-email" class="form-control"
									th:field="*{detallePaciente.imc}" required> <label>IMC (Kg/m2)</label>
							</div>
							<div class="form-group form-default">
								<input id="fcardiaca" type="text" name="footer-email"
									class="form-control"
									th:field="*{detallePaciente.frecuenciaCardiaca}" required >
								<span class="form-bar"></span> <label class="float-label">Frecuencia
									cardiaca (lat/min)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-block">
							<div th:if="${baby ==0}" class="form-group form-default">
								<input id="pc" type="number" step="0.01" min="0" max="1000"
									name="footer-email" class="form-control"
									th:field="*{detallePaciente.pc}" required> <label>PC (en cent&iacute;metros)</label>
							</div>
							<div class="form-group form-default">
								<input id="temperatura" type="number" step="0.01" min="25"
									max="50" th:value="45.0" value="37.0" name="footer-email"
									class="form-control" th:field="*{detallePaciente.temperatura}"
									required> <span class="form-bar"></span> <label
									class="float-label">Temperatura (Min:25
									Cent&iacute;grados - Max:50 Cent&iacute;grados )</label>
							</div>
							<div class="form-group form-default">
								<input id="presion_arterial" type="text" name="footer-email"
									class="form-control"
									th:field="*{detallePaciente.presionArterial}" required>
								<span class="form-bar"></span> <label class="float-label">Presi&oacute;n
									alterial (mmHg)</label>
							</div>
							<div class="form-group form-default">
								<input id="frespiratoria" type="text" name="footer-email"
									class="form-control"
									th:field="*{detallePaciente.frecuenciaRespiratoria}" required>
								<span class="form-bar"></span> <label class="float-label">Frecuencia
									respiratoria (respiraciones/min)</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5>Descripci&oacute;n f&iacute;sica general</h5>
						</div>
						<div class="card-block">
							<div class="form-group form-default">
								<textarea id="validate_letter_number3" class="form-control"
									required="" th:field="*{detallePaciente.descripcion}" minlength="1"
									maxlength="6000"></textarea>
								<small id="lblErrorNameLetterNumber3"
									class="form-text text-danger"></small> <span class="form-bar"></span>
								<label class="float-label">Descripci&oacute;n</label>
							</div>
							<div class="form-group form-default">
								<textarea id="validate_letter_number5" class="form-control"
									required="" th:field="*{diagnostico}" minlength="1"
									maxlength="6000"></textarea>
								<small id="lblErrorNameLetterNumber5"
									class="form-text text-danger"></small> <span class="form-bar"></span>
								<label class="float-label">Diagn&oacute;stico</label>
							</div>
							<div class="form-group form-default">
								<textarea id="validate_letter_number6" class="form-control"
									required="" th:field="*{tratamiento}" minlength="1"
									maxlength="6000"></textarea>
								<small id="lblErrorNameLetterNumber6"
									class="form-text text-danger"></small> <span class="form-bar"></span>
								<label class="float-label">Tratamiento</label>
							</div>
							<div class="form-group form-default">
								<textarea id="validate_letter_number6" class="form-control"
									required="" th:field="*{examenes}" minlength="1"
									maxlength="6000"></textarea>
								<small id="lblErrorNameLetterNumber6"
									class="form-text text-danger"></small> <span class="form-bar"></span>
								<label class="float-label">Examenes</label>
							</div>
							<div class="form-group form-default">
								<!--                            <button class="btn btn-info" data-toggle="modal" data-target="#myModal">Agregar proxima cita</button>-->
								<button class="btn btn-info" type="button"
									data-toggle="collapse" data-target="#collapseCalendar"
									aria-expanded="false" aria-controls="collapseExample">
									Agregar pr&oacute;xima cita</button>
							</div>
							<div class="collapse" id="collapseCalendar">
								<div class="card card-body">
									<div class="form-group form-default form-static-label col-sm-6">
										<input id="fecha_consulta" type="date" name="footer-email"
											class="form-control" th:field="*{cita.fecha_consulta}"
											required> <span class="form-bar"></span> <label
											class="float-label">Fecha consulta</label>
									</div>
									<div class="form-group form-default col-sm-6">
										<input id="hora_consulta" type="text" name="footer-email"
											class="form-control input-hora" th:field="*{cita.hora}"
											required placeholder="Hora consulta hh:mm"> <span
											class="form-bar"></span>
									</div>
									<div class="form-group form-default col-sm-6">
										<input type="radio" name="tipoHora" th:value="AM"
											th:field="*{cita.tipoHora}">AM<br> <input
											type="radio" name="tipoHora" th:value="PM"
											th:field="*{cita.tipoHora}">PM<br>
									</div>

								</div>
								<div class="row">
									<div class="col-12">
										<div class="card-header">
											<h5>Citas pendientes</h5>
										</div>
										<div class="card-block table-border-style">
											<div class="table-responsive-xl">
												<div th:if="${not #lists.isEmpty(citasWait)}">
													<table id="tablageneral"
														class="table table-striped table-hover dt-responsive display nowrap"
														style="width: 100%">
														<thead class="thead-dark">
															<tr>
																<th>Cod. Expediente</th>
																<th>Nombre</th>
																<th>Fecha consulta</th>
																<th>Hora</th>
															</tr>
														</thead>
														<tbody>
															<tr data-th-each="citas : ${citasWait}">
																<td th:text="${citas.expediente.codigo}"></td>
																<td
																	th:text="${citas.expediente.paciente.persona.nombre+' '+citas.expediente.paciente.persona.apellido}"></td>
																<td
																	th:text="${#temporals.format(citas.fecha_consulta,'dd-MM-yyyy')}"></td>
																<td th:text="${citas.hora+' '+citas.tipoHora}"></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h5>Acciones</h5>
					</div>
					<div class="card-block">
						<button
							class="btn waves-effect waves-light btn-primary btn-outline-primary"
							form="form_create_cita">
							<i class="icofont icofont-info-square"></i>Guardar
						</button>
						<a
							class="btn waves-effect waves-light btn-warning btn-outline-warning"
							th:href="@{/cita/list_citas_pendientes}"><i
							class="icofont icofont-warning-alt"></i>Cancelar</a>
					</div>
				</div>

			</div>
		</div>


	</div>
</body>
</html>