<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Lista de Consultas realizadas</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Listado de Consultas editadas</a></li>

<div class="row" role="main" layout:fragment="page_content">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h5>Consultas editadas</h5>
                <div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
                <div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive-xl">
                    <div th:if="${not #lists.isEmpty(list_consultas)}">
                        <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>Cod. Expediente</th>
                                <th>Nombre</th>
                                <th>Fecha consulta</th>
                                <th>Hora</th>
                                <th>Estado</th>
                                <th>Fecha modificaci&oacute;n</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="consulta : ${list_consultas}">
                                <td><a class="btn btn-primary btn-round waves-effect waves-light" th:text="${consulta.cita.expediente.codigo}" th:href="@{'/consulta/show_consulta_edit/'+${consulta.id}}"></a></td>
                                <td th:text="${consulta.cita.expediente.paciente.persona.nombre+' '+consulta.cita.expediente.paciente.persona.apellido}"></td>
                                <td th:text="${#temporals.format(consulta.cita.fecha_consulta,'dd-MM-yyyy')}"></td>
                                <td th:text="${consulta.cita.hora+' '+consulta.cita.tipoHora}"></td>
                                <td>
                                    <span th:if="${consulta.estado} == true" class="badge badge-success" th:text="${'EJECUTADA'}"></span>
                                </td>
                                <td th:text="${consulta.updatedAt}"></td>
                                <td><a class="btn waves-effect waves-light btn-success"
                                       th:href="@{'/consulta/show_consulta_edit/'+${consulta.id}}" sec:authorize="hasAuthority('READ_USER')"><i
                                        class="icofont icofont-eye-alt" ></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>