<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Ver consulta</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Ver consulta</a></li>
<div class="justify-content-around" role="main" layout:fragment="page_content">
    <div class="form-material">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 style="font-weight: bold;">Examen f&iacute;sico</h5>
                        <h6><span th:text="${#temporals.format(consulta.cita.fecha_consulta,'dd-MM-yyyy')}"></span></h6>
                    </div>
                    <div class="card-block">
                        <div class="form-group">
                            <label class="float-label" style="font-weight: bold;">Expediente</label><br><br>
                            <strong><h3 th:text="${consulta.cita.expediente.codigo}"></h3></strong>
                        </div>
                        <div class="form-group ">
                            <label class="float-label" style="font-weight: bold;">Paciente</label><br><br>
                            <strong><h3
                                    th:text="${consulta.cita.expediente.paciente.persona.nombre + ' ' +consulta.cita.expediente.paciente.persona.apellido}"></h3>
                            </strong>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="font-weight: bold;">Motivo consulta</label>
                            <div class="col-sm-10">
                                <div class="form-control-static" th:text="${consulta.motivoConsulta}"></div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="font-weight: bold;">Descripci&oacute;n</label>
                            <div class="col-sm-10">
                                <div class="form-control-static" th:text="${consulta.descripcionMotivo}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="font-weight: bold;">Antecedente</label>
                            <div class="col-sm-10">
                                <div class="form-control-static" th:text="${consulta.antecendentes}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <strong><h3 style="align:center;width:200px; font-weight:bold;">Datos f&iacute;sicos</h3></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label" style="font-weight: bold;">Peso (kg)</label>
                            <div class="col-sm-6">
                                <div class="form-control-static" th:text="${consulta.detallePaciente.peso}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label" style="font-weight: bold;">Talla (cm)</label>
                            <div class="col-sm-6">
                                <div class="form-control-static" th:text="${consulta.detallePaciente.talla}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label" style="font-weight: bold;">IMC (Kg/m2)</label>
                            <div class="col-sm-6">
                                <div class="form-control-static" th:text="${consulta.detallePaciente.imc}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label" style="font-weight: bold;">Frecuencia card&iacute;aca (lat/min)</label>
                            <div class="col-sm-6">
                                <div class="form-control-static" th:text="${consulta.detallePaciente.frecuenciaCardiaca}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" style="font-weight: bold;">PC (cm)</label>
                            <div class="col-sm-6">
                                <div class="form-control-static" th:text="${consulta.detallePaciente.pc}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" style="font-weight: bold;">Temperatura (cent&iacute;grados)</label>
                            <div class="col-sm-6">
                                <div class="form-control-static" th:text="${consulta.detallePaciente.temperatura}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" style="font-weight: bold;">Presi&oacute;n Arterial (mmHg)</label>
                            <div class="col-sm-6">
                                <div class="form-control-static" th:text="${consulta.detallePaciente.presionArterial}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" style="font-weight: bold;">Frecuencia respiratoria (respiraciones/min)</label>
                            <div class="col-sm-6">
                                <div class="form-control-static" th:text="${consulta.detallePaciente.frecuenciaRespiratoria}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 style="font-weight: bold;">Descripci&oacute;n f&iacute;sica general</h5>
                    </div>
                    <div class="card-block">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="font-weight: bold;">Descripci&oacute;n</label>
                            <div class="col-sm-10">
                                <div class="form-control-static" th:text="${consulta.detallePaciente.descripcion}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="font-weight: bold;">Diagn&oacute;stico</label>
                            <div class="col-sm-10">
                                <div class="form-control-static" th:text="${consulta.diagnostico}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="font-weight: bold;">Tratamiento</label>
                            <div class="col-sm-10">
                                <div class="form-control-static" th:text="${consulta.tratamiento}"></div>
                            </div>
                        </div>
                         <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="font-weight: bold;">Examenes</label>
                            <div class="col-sm-10">
                                <div class="form-control-static" th:text="${consulta.examenes}"></div>
                            </div>
                        </div>
<!--                        <div class="form-group row">-->
<!--                            <label class="col-sm-2 col-form-label">Comentario</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <div class="form-control-static" th:text="${consulta.comentario}"></div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Acciones</h5>
                    <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                </div>
                <div th:if="${bandera == 1}">
                	<div class="card-block">
                    <a class="btn waves-effect waves-light btn-primary btn-outline-primary"
                             th:href="@{'/consulta/edit_consulta/'+${consulta.id}}"><i class="icofont icofont-info-square"></i>Editar
                    </a>
                    <div th:if="${banderaReceta == 0}">
                        <a
                                        class="btn waves-effect waves-light btn-warning btn-outline-warning"
                                        th:href="@{'/receta/form_create/'+${consulta.id}}" sec:authorize="hasAuthority('WRITE_USER')"><i
                                        class="fa fa-plus"></i>Receta</a></div>
                     <div th:if="${banderaReceta == 1}">              
                          <a
                                        class="btn waves-effect waves-light btn-success btn-outline-success"
                                        th:href="@{'/receta/view/'+${receta.id}}" sec:authorize="hasAuthority('WRITE_USER')"><i
                                        class="icofont icofont-eye-alt"></i>Ver Receta</a></div>
                       
                    <a class="btn waves-effect waves-light btn-danger btn-outline-danger" target="_blank"
                       th:href="@{'/consulta/pdf_consulta/'+${consulta.id}}" sec:authorize="hasAuthority('READ_USER')"><i
                            class="fa fa-print" ></i></a>
                	</div>
                </div>
                
               
            </div>

        </div>
    </div>


</div>
</body>
</html>