<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta charset="ISO-8859-1">
<title>Historiales clinicos</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Historial clinico</a></li>

<div class="row" role="main" layout:fragment="page_content">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h5>Historial cl&iacute;nico:</h5>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive-xl">
                    <div th:if="${not #lists.isEmpty(historial_consulta)}">
                        <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>Cod. Expediente</th>
                                <th>Motivo consulta</th>
                                <th>Fecha consulta</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="historial : ${historial_consulta}" >
                                <td th:text="${historial.cita.expediente.codigo}"></td>
                                <td th:text="${historial.motivoConsulta}"></td>
                                <td th:text="${historial.cita.fecha_consulta}"></td>
                                <td><a class="btn waves-effect waves-light btn-info"
                                       th:href="${'/consulta/view_consulta/' + historial.id}" sec:authorize="hasAuthority('READ_USER')"><i
                                        class="icofont icofont-eye-alt"></i></a> <a
                                        class="btn waves-effect waves-light btn-danger"><i class="ti-clipboard"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>