/*p, body, td {*/
/*    font-family: Tahoma, Arial, Helvetica, sans-serif;*/
/*    font-size: 10pt;*/
/*}*/

/*body {*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*    background-color: #ffffff;*/
/*}*/

a {
    color: #1155a3;
}

.space {
    margin: 10px 0px 10px 0px;
}

.header {
    background: #003267;
    background: linear-gradient(to right, #011329 0%, #00639e 44%, #011329 100%);
    padding: 20px 10px;
    color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

.header a {
    color: white;
}

.header h1 a {
    text-decoration: none;
}

.header h1 {
    padding: 0px;
    margin: 0px;
}

.maincalender {
    padding: 10px
}

/* context menu icons */
/*.icon:before {*/
/*    position: absolute;*/
/*    margin-left: 8px;*/
/*    margin-top: 3px;*/
/*    width: 14px;*/
/*    height: 14px;*/
/*    content: '';*/
/*}*/

.icon-blue:before { background-color: #1066a8; }
.icon-green:before { background-color: #6aa84f; }
.icon-yellow:before { background-color: #f1c232; }
.icon-red:before { background-color: #cc0000; }