<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_productos}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h5>Informaci&oacute;n ingreso de producto</h5>
				</div>
				<div class="card-block">
				<div>
					<form class="form-group " th:object="${ingreso}" id="form_register_ingreso" name="form_register_ingreso">
						<div class="form-group col-md-10 col-12">
							<input th:field="*{id}" id="id" type="text"
								name="footer-email" class="form-control" required
								maxlength="100"> <small id="lblErrorName"
								class="form-text text-danger"></small> <small
								class="form-text text-danger"></small><span class="form-bar"></span>
							<label class="">No.</label>
						</div>
						<div class="form-group col-md-10 col-12">
							<input th:field="*{tipoComprobante}" id="tipoComprobante" type="text"
								name="footer-email" class="form-control" required
								maxlength="100"> <small id="lblErrorName"
								class="form-text text-danger"></small> <small
								class="form-text text-danger"></small><span class="form-bar"></span>
							<label class="">Comprobante</label>
						</div>
						
						<div class="form-group col-md-4 col-12">
							<input th:field="*{fecha}" id="fecha" type="date"
								 class="form-control" required> 
								<small id="lblErrorName"
								class="form-text text-danger"></small> <small
								class="form-text text-danger"></small><span class="form-bar"></span>
							<label class="">Fecha:</label>
						</div>	
						
						<div class="form-group  col-md-4 col-12">
							<input th:field="*{totalCompra}" id="totalCompra" type="number" max="9999999"
								name="footer-email" class="form-control" step = "0.000" required> 
								<small id="lblErrorName"
								class="form-text text-danger"></small> <small
								class="form-text text-danger"></small><span class="form-bar"></span>
							<label class="">Total Compra</label>
						</div>
					</form>
				</div>
					<!-- Fin del Form -->
					
						<div class = "table-responsive">
							<div th:if="${not #lists.isEmpty(ingreso.detalleIngresoList)}">
							 <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
								<thead class="thead-dark">
									<tr>
										<th>No</th>
										<th>Producto</th>
										<th>Desc.</th>
										<th>Cantidad</th>
										<th>Costo</th>
										<th>Lote</th>
										<th>Vence</th>
									</tr>
								</thead>
								<tbody>
									<tr data-th-each="det : ${ingreso.detalleIngresoList}">
											
											<td th:text="${det.id}">nombre</td>
											<td th:text="${det.productos.id + ' - ' + det.productos.nombre}">nombre</td>
											<td th:text="${det.descripcion}">nombre</td>
											<td th:text="${det.cantidad}">nombre</td>
											<td th:text="${det.precioCompra}">nombre</td>
											<td th:text="${det.lote}">nombre</td>
											<td th:text="${det.vence}">nombre</td>
									</tr>

								</tbody>
								<tfoot>
									<tr>
										<th></th>
										<th colspan = "3"> Total ingreso: </th>
										<th id = "thtotal" th:text="${ingreso.totalCompra}">0.12</th>
										<th></th>
										<th></th>
										<th></th>
									</tr>							
								</tfoot>	
							</table>
						</div>
					</div>
						
								
						<!-- <div>
							<br>
							<button
								type = "submit" id = "saveBtn" form="form_register_ingreso"
								class="btn waves-effect waves-light btn-primary btn-outline-primary">
								<i class="icofont icofont-info-square"></i>Guardar
							</button>
						</div>  -->
				</div>
			</div>
		</div>
	</div>

	<!-- Page's Scripts -->

	
</body>
</html>