<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_productos}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Kardex</title>
<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Kardex</a></li>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header">
					<h5>Kardex de producto</h5>
					<form class="form-group " th:action="@{/producto/kardex}" id="query_kardex" name="query_kardex" th:object="${productFilter}">
						<div class = "row justify-content-around">
							<div class = "form-group">
								<label>Producto: </label>
								<select name="producto" class="form-control-sm" id="producto" th:field="*{producto}">
										<option value="">Seleccione el producto</option>
										<option th:each="prod: ${productos}" th:value="${prod.id}" th:text="${prod.nombre}"></option>
								</select>
							</div>
							<div class = "form-group">
								<label>Periodo: </label>
								<input type = "date" class = "form-control-sm" name = "fini" id = "fini" th:field="*{dateStart}">
								<input type = "date" class = "form-control-sm" name = "fend" id = "fend" th:field="*{dateEnd}">
							</div>
							<div class = "form-group">
								<button type = "button" id="btnQuery" class = "btn-sm btn-info">Consultar</button>
							</div>
						</div>
					</form>
					<div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert">¡¡Medicamento eliminado exitosamente!!</div>
					<div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert">¡¡Error, intente de nuevo!!</div>
				</div>
				<div class="card-block table-border-style">
					 <div class="table-responsive">
					 	<div >
							 <table id="tablakardex" class="table table-xs table-striped table-hover dt-responsive display nowrap">
								<thead class="thead-dark">
									<tr>
										<th rowspan = "2">Fecha</th>
										<th rowspan = "2">Descripci&oacute;n</th>
										<th colspan = "3">Entrada</th>
										<th colspan = "3"> S&aacute;lida</th>
										<th colspan = "3">Existencia</th>
									</tr>
									<tr>
										<th>Unidades</th>
										<th>Costo</th>
										<th>Total</th>
										<th>Unidades</th>
										<th>Costo</th>
										<th>Total</th>
										<th>Unidades</th>
										<th>Costo</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>