<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_productos}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Lista de Productos</title>
<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Listado de Productos</a></li>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header">
					<h5>Productos Registrados</h5>
					<div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert">¡¡Medicamento eliminado exitosamente!!</div>
					<div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert">¡¡Error, intente de nuevo!!</div>
				</div>
				<div class="card-block table-border-style">
					 <div class="table-responsive">
						<div th:if="${not #lists.isEmpty(productos)}">
							 <table id="tablaproductos" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
								<thead class="thead-dark">
									<tr>
										<th>Nombre</th>
										<th >Precio</th>
										<th>Costo Prom.</th>
										<th>Inv.</th>
										<th>Lim. Stock</th>										
										<th>Tipo</th>
										<th> Marca</th>
										<th> Proveedor </th>
										<th>Acci&oacute;n </th>
									</tr>
								</thead>
								<tbody>
									<tr data-th-each="producto : ${productos}">
											
											<td th:text="${producto.nombre}">nombre</td>
											<td th:text="${producto.precio}">nombre</td>
											<td th:text="${producto.costoProm}">nombre</td>
											<td th:text="${producto.inventario}">nombre</td>
											<td th:text="${producto.limStock}">nombre</td>
											<td th:text="${producto.tipos.nombre}">Nombre</td>
											<td th:text="${producto.marcas.nombre}">Nombre</td>
											<td th:text="${producto.proveedores.nombre}">Nombre</td>											
											
											<td><a class="btn waves-effect waves-light btn-success"
												th:href="${'/producto/' + producto.id}"><i
													class="icofont icofont-eye-alt"></i></a>
												<a class="btn waves-effect waves-light btn-danger"
												th:href="${'/producto/deleteForm/' + producto.id}"><i
													class="fa fa-trash"></i></a>
											</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>