<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Log</a></li>

	<div class="row justify-content-around" role="main" layout:fragment="page_content">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5>Log registrado</h5>

				</div>
				
				<div class="card-block table-border-style">
					<form class="form-horizontal">
				
                <div class="row">
				   <div class="col-sm-1"></div>
                   <div class="col-sm-4"><b>Detalle:</b></div>
                   <div class="col-sm-7"><p class="form-control-static" th:text="${log.detalle}"></p></div>
                </div>
                  <div class="row">
			   			<div class="col-sm-1"></div>
                  		<div class="col-sm-4"><b>URL:</b></div>
                  		<div class="col-sm-7"><p class="form-control-static" th:text="${log.url}"></p></div>
                  </div>
                <div class="row">
				   <div class="col-sm-1"></div>
                   <div class="col-sm-4"><b>Fecha:</b></div>

                   <div class="col-sm-7"><p class="form-control-static" th:text="${log.fecha}" ></p></div>

                </div>
               
                <div class="row">
				   <div class="col-sm-1"></div>
                   <div class="col-sm-4"><b>Usuario:</b></div>
                   <div class="col-sm-7"><p class="form-control-static" th:text="${log.usuario}"></p></div>
                </div>
            </form>

				</div>
			</div>
		</div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Opciones</h5>
                </div>
                <div class="card-block table-border-style">
                    <a class="btn waves-effect waves-light btn-primary" th:href="@{/logs}">Salir</a></td>
                </div>
            </div>
        </div>

	</div>
</body>
</html>