<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base}">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<title>Lista de logs</title>

<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Listado de logs</a></li>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header">
					<h5>Logs registrados</h5>
					<div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
					<div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
				</div>
				<div class="card-block table-border-style">
					 <div class="table-responsive-xl">
						<div th:if="${not #lists.isEmpty(logs)}">
							 <table id="tablapacientes" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
								<thead class="thead-dark">
									<tr>
										<th>Detalle</th>
										<th>Url</th>
										<th>Fecha</th>
										<th>Usuario</th>
										<th>Opciones</th>

									</tr>
								</thead>
								<tbody>
									<tr data-th-each="log : ${logs}">
											<td th:text="${log.detalle}"></td>
											<td th:text="${log.url}"></td>
											<td th:text="${log.fecha}"></td>
											<td th:text="${log.usuario}"></td>
											<td ><a class="btn waves-effect waves-light btn-success"
												th:href="@{'/log/' + ${log.id}}" sec:authorize="hasAuthority('READ_LOG')"><i
													class="icofont icofont-eye-alt"></i></a>
											</td>
									  <!-- /div> --> 
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>