<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<head th:replace="base/head :: header"></head>


<body>
<section class="login-block">
    <div class="container">
        <div class="row" ><!-- layout:fragment="page_content" -->
            <div class="col-md-12">

                <!-- Authentication card start -->

                <form class="md-float-material" th:action = "@{/logincheck}" method = "POST">
                    <input type = "hidden" name = "${_csrf.parameterName}" value = "${_csrf.token}" />

                    <div class="text-center">
                        <img th:src="@{/images/logo-sicimed.png}" alt="logo.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center">SICIMED</h3>
                                </div>
                            </div>
                            <div class="form-group form-primary">
                                <input type="text" id="username" name="username" class="form-control" required/>
                                <span class="form-bar"></span>
                                <label class="float-label">Nombre de usuario</label>
                            </div>
                            <div class="form-group form-primary">
                                <input type="password" id="password" name="password" class="form-control" required/>
                                <span class="form-bar"></span>
                                <label class="float-label">Contrase&ntilde;a</label>
                            </div>
                            <div th:if = "${error != null}" class = "alert alert-danger" role="alert"> Su contrase&ntilde;a o nombre de usuario es inv&aacute;lido</div>
                            <div th:if = "${logout != null}" class = "alert alert-info" role="alert"> Ha cerrado sesi&oacute;n satisfactoriamente </div>


                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit" id="loginSicimed" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Iniciar Sesi&oacute;n</button>
                                </div>
                            </div>
                          <!--   <div class="row m-t-30">
                                <div class="col-md-12">
                                    <a th:href="@{/restore_db/form}"  id="restoreSicimed" class="btn btn-info btn-md btn-block waves-effect waves-light text-center m-b-20">Restaurar DB</a>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </form>


                <!-- end of form -->

                <!--
                 <form th:action = "@{/logout}" method = "POST">
                     <button class = "btn btn-lg btn-primary btn-block" type = "submit">
                         <span class = "glyphicon glyphicon-log.out" aria-hidden = "true"></span>
                         Logout
                     </button>
                 </form>
                -->

            </div>

        </div>
    </div>

</section>
<div th:replace="base/footer :: footer"></div>
<script th:replace="base/script :: scripts"></script>

</body>
</html>