<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_usuarios}">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<body>
	<div class="pcoded-inner-content"  layout:fragment="page_content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<div class="row justify-content-around" role="main" >
					    
						<div class="col-md-6 ">
							<div class="card">
								<div class="card-header">
									<h5>Registrar usuario</h5>
									<!-- <span>Boton de crear o un buscador</span> -->

								</div>
								<div class="card-block">
                                <form class="form-material" th:action="@{/users/add_user}" th:object="${userModel}" method="post" id="form_register_user" name="form_register_user">
                                   <div class="form-group form-default">
                                      <input type="text" name="footer-email" class="form-control" required th:field="*{username}" 
                                      maxlength="40" pattern="[A-Za-z0-9]+" placeholder = "Solo se aceptan letras y n&uacute;meros sin espacios.">
                                      <span class="form-bar"></span>
                                      <label class="float-label">Nombre de usuario</label>
                                   </div>
                                   <div class="form-group form-default">
                                   	<input type="password" name="footer-email" class="form-control" required th:field="*{password}" maxlength = "60">
                                   	<span class="form-bar"></span>
                                   	<label class="float-label">Contrase&ntilde;a</label>
                                   </div>
                                   <div class="form-group form-default" >
                                      <input type="email" name="footer-email" class="form-control" th:field="*{email}" maxlength = "60">
                                      <span class="form-bar"></span>
                                       <label class="float-label">Correo Electr&oacute;nico</label>
                                    </div>
								  <div class="form-group  row">
								    <div class="col-sm-2">Estado</div>
								    <div class="col-sm-10">
								      <div class="form-check">
								    <label class="form-check-label">
								      <input class="form-check-input" type="checkbox" th:field="*{enabled}"> Activo
								    </label>
								      </div>
								    </div>
								  </div>

		                                   <div class=" form-default">
		                                   	  <label th:text="Roles" class="row-form-label form-control-label m-2" ></label>
											  <input class="form-control" id="myInput" type="text" placeholder="Buscar...">
											  <br>
											  <div class="list-group" id="myList" style ="height:200px; overflow-y: scroll;">
											  	<div class = "form-inline" th:each="role :${roles}">
													<input class="form-inline-xs" type = "checkbox" name ="roles" th:field="${userModel.roles}" th:value="${role.id}">											  		
											  		<label th:text = "${role.name}" class = "ml-2"></label>											  	
											  	</div>												
											  </div> 
											  <br>		                                   
											  <input type = "button" id="selectAll" class = " btn-sm btn-default" value = "Todos">
											  <input type = "button" id="selectClear" class = " btn-sm btn-default" value = "Limpiar">
										 </div>									 
                                   </form>
                                   
								</div>
							</div>
						</div>
						
                       <div class="col-md-4">
                          <div class="card">
                             <div class="card-header">
                                <h5>Acciones</h5>
                             </div>
                         	 <div class="card-block">
                               <button class="btn waves-effect waves-light btn-primary btn-outline-primary" form="form_register_user"><i class="icofont icofont-info-square"></i>Guardar</button>
                               <a th:href="@{/users}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                             </div>
                         </div>
 
                       	 <div th:if="${result==1}" class="alert alert-success" style="font-size: 20px" role="alert">Guardado exitosamente</div>
                         <div th:if="${result==0}" class="alert alert-danger" style="font-size: 20px" role="alert"><p th:text = "${error}"></p></div>

                       <!-- Page-body end -->
                       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myList div").filter(function() {
	      $(this).toggle($(this).find('label').text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	  $("#selectAll").click(function(){
		  $("#myList div").each(function(){
			  $(this).find('input').prop("checked",true);
		  });
	  });
	  $("#selectClear").click(function(){
		  $("#myList div").each(function(){
			  $(this).find('input').prop("checked",false);
		  });
	  });
	});
</script>