<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{base/base}">
<meta charset="UTF-8">
<title>Lista de Productos</title>
<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Listado de Recetas</a></li>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header">
					<h5>Recetas ingresadas</h5>
					<div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert">¡¡Medicamento eliminado exitosamente!!</div>
					<div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert">¡¡Error, intente de nuevo!!</div>
				</div>
				<div class="card-block table-border-style">
					 <div class="table-responsive-xl">
						<div th:if="${not #lists.isEmpty(recetas)}">
							 <table id="tablarecetas" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
								<thead class="thead-dark">
									<tr>
										<th>Código de Expediente</th>
										<th>Detalle de receta</th>
										<th>Motivo de Consulta </th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr data-th-each="receta : ${recetas}">
											<td><a class="btn btn-primary btn-round waves-effect waves-light" th:text=${receta.consulta.cita.expediente.codigo} th:href="@{'/consulta/view_consulta/'+${receta.consulta.id}}"></a></td>
											<td th:text="${receta.detalle}">nombre</td>
										  <td th:text="${receta.consulta.motivoConsulta}">Nombre</td>
											<td><a target="_blank" 
                                        class="btn waves-effect waves-light btn btn-success"
                                        th:href="@{'/receta/imprimir/'+${receta.id}}"><i
                                        class="fa fa-print"></i>Receta</a>
                                        </a>
                                        <a
												class="btn waves-effect waves-light btn-info"
												th:href="@{'/receta/edit/' + ${receta.id}}"><i
													class="fa fa-pencil"></i></a>
										<a class="btn waves-effect waves-light btn-danger"
												th:href="${'/receta/deleteForm/' + receta.id}"><i
													class="fa fa-trash"></i></a>
                                        </td>
									
											
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>