<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Lista de Motivos consulta</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Listado de Motivos consultas</a></li>

<div class="row" role="main" layout:fragment="page_content">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h5>Motivos de consulta</h5>
                <a class="btn waves-effect waves-light btn-success"
                   th:href="@{/motivos_consulta/form_create}" sec:authorize="hasAuthority('WRITE_USER')"><i class="ti-file"></i>Nuevo</a>
                <div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert">Cita eliminado exitosamente!!</div>
                <div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert">Error, intente de nuevo!!</div>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive-xl">
                    <div th:if="${not #lists.isEmpty(list_motivo)}">
                        <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="motivos : ${list_motivo}">
                                <td th:text="${motivos.nombre}"></td>
                                <td >
                                    <span th:if="${motivos.estado} == true" class="badge badge-success" th:text="${'ACTIVO'}"></span>
                                    <span th:if="${motivos.estado} == false" class="badge badge-danger" th:text="${'INACTIVO'}"></span>
                                </td>
                                <td>
                                    <a class="btn waves-effect waves-light btn-info"
                                        th:href="@{'/motivos_consulta/edit_motivo/'+${motivos.id}}" sec:authorize="hasAuthority('WRITE_USER')"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>