<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_productos}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<body>

	<div class="row" role="main" layout:fragment="page_content">
		<div id = "notis" class = "col-12 p-2"></div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h5>Edici&oacute;n de ingreso de producto</h5>
				</div>
				<div class="card-block">
				
				<form class="form-group " th:object="${ingreso}" th:action="@{/producto}"
						method="post" id="form_register_ingreso" name="form_register_ingreso">
					<div class = "row justify-content-around">
						<div class = "col-md-6">	
							<div class="form-group">
							    <input id="id" name="footer-email"  th:field="*{id}"  type="hidden" class="form-control">
								
								<input th:field="*{tipoComprobante}" id="tipoComprobante" type="text"
									name="footer-email" class="form-control" required
									maxlength="100"> 
								<label class="">Comprobante</label>
							</div>
						</div>
						<div class = "col-md-3">	
							<div class="form-group">
								<input th:field="*{fecha}" id="fecha" type="date"
									 class="form-control" required> 
								<label class="">Fecha:</label>
							</div>	
						</div>
						<div class = "col-md-3">						
							<div class="form-group">
								<input th:field="*{totalCompra}" id="totalCompra" type="number" max="9999999"
									name="footer-email" class="form-control" step = "0.000" required> 
								<label class="">Total Compra</label>
							</div>
						</div>						
					</div>
				</form>
				
					<!-- Fin del Form -->
					
					<!-- Inicio Ajax -->
						<div class= "row">
							<div class = "col-md-12">
								<h6> Detalle de Ingreso </h6>
								<hr>
							</div>
						</div> 
						<div class = "row justify-content-around">
							<div class = "col-md-4">
								<div class= "form-group">
									<select name="producto" class="form-control-sm" id="producto" >
											<option value="">Seleccione el producto</option>
											<option th:each="producto: ${productos}" th:value="${producto.id}" th:text="${producto.nombre}"></option>
									</select>
									<label for = "producto">Producto</label>
								</div>
								<div class="form-group ">
									<input name="descripcion" id="descripcion" type="text"	class="form-control-sm"
													maxlength="100" placeholder = "descripción">
									<label for = "descripcion">Descripci&oacute;n</label>	
								</div>
							</div>
							<div class = "col-md-2">
								<div class="form-group ">
										<input name="cantidad" id="cantidad" type="number"	 class="form-control-sm" required
													max="99999999" min = "1">
										<label for = "cantidad">Cantidad</label>													
								</div>
								<div class="form-group ">
									<input name = "costo" id="costo" type="number" class="form-control-sm" required
													max="99999999" min = " 0.001" step = "0.001">
									<label for = "costo">Costo</label>
								</div>
							</div>
							<div class = "col-md-3">									
								<div class="form-group ">
									<input name = "lote" id="lote" type="text"	class="form-control-sm" required
													maxlength="100">
									<label for = "lote">Lote</label>
								</div>										
								<div class="form-group ">
									<input name="vence" id="vence" type="date" class="form-control-sm" required> 
									<label for = "vence">Vence</label>
								</div>
							</div>
							<div class = "col-md-2">
								<button id="btnNewLineEntry" name = "btnNewLineEntry" class = "btn btn-sm btn-info btnNewLineEntry">Agregar l&iacute;nea</button>
							</div>
						</div>
						<div class = "table-responsive">
							<table class = "table table-xs table-striped table-hover dt-responsive display nowrap" id= "table-entries">
								<thead>
									<tr >
										<th>No</th>
										<th>Producto</th>
										<th>Desc.</th>
										<th>Cantidad</th>
										<th>Costo</th>
										<th>Lote</th>
										<th>Vence</th>
										<th></th>
									</tr>
								</thead>
								<tbody id = "tbody">
									<tr data-th-each="det,i : ${ingreso.detalleIngresoList}">
										<th th:text = "${i.index + 1}"></th>
										<th> <input id='id-prod' th:value ="${det.productos.id}" type="hidden" /><p th:text ="${det.productos.nombre }"/></th>
										<th th:text = "${det.descripcion}"></th>
										<th th:text = "${det.cantidad}"></th>
										<th th:text = "${det.precioCompra}"></th>
										<th th:text = "${det.lote}"></th>
										<th th:text = "${det.vence}"></th>
										<th> <button class = "btn btn-sm btn-danger"><span class = "fa fa-trash dropBtn"></span></button></th>
									</tr>							
								</tbody>
								<tfoot>
									<tr>
										<th></th>
										<th colspan = "3" > Total ingreso: </th>
										<th id = "thtotal" th:text = "${ingreso.totalCompra}">0</th>
										<th></th>
										<th></th>
										<th></th>
									</tr>							
								</tfoot>								
							</table>
						</div>
						
								
						<div>
							<br>
							<button
								type = "button" id = "saveTempBtn" form="form_register_ingreso"
								class="btn waves-effect waves-light btn-primary btn-outline-primary">
								<i class="icofont icofont-info-square"></i>Guardar
							</button>
							<button
								type = "button" id = "tempTempBtn" form="form_register_ingreso"
								class="btn waves-effect waves-light btn-primary btn-outline-primary">
								<i class="icofont icofont-info-square"></i>Aceptar
							</button>						
						</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Page's Scripts -->

	
</body>
</html>
<script  th:src="@{/js/ingreso.js}"></script>