<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta charset="ISO-8859-1">
<title>Lista de expedientes</title>
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Listado de expedientes</a></li>

<div class="row" role="main" layout:fragment="page_content">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h5>Expedientes ingresados</h5>
                <h4>Aqu&iacute; se presentan un resumen de los datos m&aacute;s actualizados del paciente</h4>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive-xl">
                    <div th:if="${not #lists.isEmpty(expedientes)}">
                        <table id="tablapacientes" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>Cod. Expediente</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Edad</th>
                                <th>Direcci&oacute;n</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="expediente : ${expedientes}">
                                <td><a class="btn btn-primary btn-round waves-effect waves-light" th:text="${expediente.codigo}"></a></td>
                                <td th:text="${expediente.paciente.persona.nombre}">nombre</td>
                                <td th:text="${expediente.paciente.persona.apellido}">apellido</td>
                                <td th:text="${expediente.paciente.persona.edad}">edad</td>
                                <td th:text="${expediente.paciente.persona.direccion}">direccion</td>
                                <td><a class="btn waves-effect waves-light btn-info"
                                       th:href="@{'/expediente_clinico/show_expediente/' + ${expediente.id}+'/expediente'}" sec:authorize="hasAuthority('READ_USER')"><i
                                        class="icofont icofont-eye-alt"></i></a> <a
                                        class="btn waves-effect waves-light btn-danger" target="_blank" th:href="@{'/expediente_clinico/show_expediente/'+${expediente.id}+'/expediente'(format=pdf)}"
                                        sec:authorize="hasAuthority('READ_USER')" ><i class="fa fa-print"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>