<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<meta charset="ISO-8859-1">

<body>
<li class="breadcrumb-item" layout:fragment="li_content">Perfil de Paciente</a></li>


<div class="row"  layout:fragment="page_content">
    <div class="col-xl-4 col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                        <div class="col">
                            <h4>Expediente:</h4>
                        </div>
                        <div class="col-auto">
                            <h4 th:text="${expediente.codigo}"></h4>
                        </div>
                    <div class="card-body ">
                        <h4 th:text="${expediente.paciente.persona.nombre}"></h4>
                        <h4 th:text="${expediente.paciente.persona.apellido}"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 th:text="${expediente.paciente.persona.fechaNacimiento}"></h5>
                    </div>
                    <div class="col-auto">
                        <h5 th:text="${expediente.paciente.persona.sexo}"></h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Signos vitales</h4>
            </div>
            <div class="card-block" th:if="${detalle_paciente!=null}">
                <div class="row">
                    <div class="col">
                        <div><b>Talla:</b></div>
                    </div>
                    <div class="col-auto">
                        <div><p class="form-control-static" th:text="${detalle_paciente.talla}" >Talla</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div><b>Peso:</b></div>
                    </div>
                    <div class="col-auto">
                        <div><p class="form-control-static" th:text="${detalle_paciente.peso}" >Peso</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div><b>PC:</b></div>
                    </div>
                    <div class="col-auto">
                        <div><p class="form-control-static" th:text="${detalle_paciente.pc}" >PC</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div><b>Temperatura:</b></div>
                    </div>
                    <div class="col-auto">
                        <div><p class="form-control-static" th:text="${detalle_paciente.temperatura}" >Temperatura</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div><b>Presi&oacute;n arter&iacute;al:</b></div>
                    </div>
                    <div class="col-auto">
                        <div><p class="form-control-static" th:text="${detalle_paciente.presionArterial}" >Presi&oacute;n arter&iacute;al</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div><b>IMC:</b></div>
                    </div>
                    <div class="col-auto">
                        <div><p class="form-control-static" th:text="${detalle_paciente.imc}" >IMC</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div><b>Frecuencia card&iacute;aca:</b></div>
                    </div>
                    <div class="col-auto">
                        <div><p class="form-control-static" th:text="${detalle_paciente.frecuenciaCardiaca}" ></p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div><b>Frecuencia respiratoria:</b></div>
                    </div>
                    <div class="col-auto">
                        <div><p class="form-control-static" th:text="${detalle_paciente.frecuenciaRespiratoria}" ></p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div><b>Descripci&oacute;n:</b></div>
                    </div>
                    <div class="col-auto">
                        <div><p class="form-control-static" th:text="${detalle_paciente.descripcion}" ></p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="card-header">
                        <!-- <h4>Examenes realizados</h4> -->
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExamenes" aria-expanded="false" aria-controls="collapseExamenes">
    						<h4>Examenes realizados</h4>
 						 </button>
                    </div>
                    <div class="card-body">
                     <div class="collapse" id="collapseExamenes">
						 <div class="table-responsive">
                            <table th:if="${examenes!=null}" class="table table-hover form-material">
                                <tbody>
                                <tr data-th-each="examen : ${examenes}">
                                    <td>
                                    <div class="form-group form-default">
                                    <strong><textarea class="form-control" disabled
									th:text="${examen.consulta.examenes}"></textarea></strong>
								
									</div>
									</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                      </div> 
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAntecedentes" aria-expanded="false" aria-controls="collapseAntecedentes">
    				<h4>Antecedentes</h4>
 				</button>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="card-body " >
                    <div class="collapse" id="collapseAntecedentes">
                        <div class="table-responsive">
                            <table th:if="${citas_list!=null}" class="table table-hover form-material">
                                <tbody>
                                <tr data-th-each="cita_antecendentes : ${citas_list}">
                                <td th:if="${cita_antecendentes.estado_cita=='EJECUTADA'}">
                                    <div class="form-group form-default">
                                    <strong><textarea class="form-control" disabled
									th:text="${cita_antecendentes.consulta.antecendentes}"></textarea></strong>
									
									</div>
								</td>
                                    
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-header">
       
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTratamientos" aria-expanded="false" aria-controls="collapseTratamientos">
    				<h4>Tratamientos asignados</h4>
 				</button>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="card-body " >
                    <div class="collapse" id="collapseTratamientos">
                        <div class="table-responsive">
                            <table class="table table-hover form-material" th:if="${citas_list!=null}">
                                <tbody>
                                <tr data-th-each="cita_tratamiento : ${citas_list}">
                                <td th:if="${cita_tratamiento.estado_cita=='EJECUTADA'}">
                                    <div class="form-group form-default">
                                    <strong><textarea class="form-control" disabled
									th:text="${cita_tratamiento.consulta.tratamiento}"></textarea></strong>
									</div>
								</td>
                                   
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <h4>Citas agendadas</h4>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover" th:if="${citas_list!=null}">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-th-each="cita : ${citas_list}">
                                    <td th:if="${cita.estado_cita=='ESPERA' && cita.estado== true}" th:text="${#temporals.format(cita.fecha_consulta,'dd-MM-yyyy')}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card table-card">
            <div class="card-header">
                <h4>Citas pasadas</h4>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover" th:if="${citas_list!=null}">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="cita : ${citas_list}">
                                <td th:if="${cita.estado_cita=='EJECUTADA'}" th:text="${#temporals.format(cita.fecha_consulta,'dd-MM-yyyy')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>