
<header>
<meta charset="ISO-8859-1">
<title th:fragment="title">SICIMED</title>

<!-- Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="author" content="codedthemes" />
<!-- Favicon icon -->
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
<!-- Google font-->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet"> -->
<!-- waves.css -->
<link rel="stylesheet" th:href="@{/pages/waves/css/waves.min.css}" type="text/css" media="all">
<!-- Required Fremwork -->

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">

<!--   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/css/bootstrap.css}">-->
<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.dataTables.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.css}">
<!--<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}">-->
<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/css/bootstrap.min.css}">
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.min.css}">-->
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/fixedHeader.bootstrap.min.css}">
<!-- waves.css -->
<link rel="stylesheet" th:href="@{/pages/waves/css/waves.min.css}" type="text/css" media="all">
<!-- themify icon -->
<link rel="stylesheet" type="text/css" th:href="@{/icon/themify-icons/themify-icons.css}">
<!-- Font Awesome -->
<link rel="stylesheet" type="text/css" th:href="@{/icon/font-awesome/css/font-awesome.min.css}">
<!-- scrollbar.css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mCustomScrollbar.css}">
<!-- am chart export.css -->
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<!-- Style.css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<link rel="stylesheet" type="text/css" th:href="@{/icon/icofont/css/icofont.css}">

	<link rel="stylesheet" type="text/css" th:href="@{/pages/notification/notification.css}">
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/animate.css/css/animate.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/select2/select2.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/mobiscroll/mobiscroll.javascript.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/print.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/calendar.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/icon/style.css}">



</header>
