<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
</head>

<body>
<div th:fragment="menu">
<!-- 
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Layout</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#" th:href="@{/}" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Inicio</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        
    </ul>-->

     <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Empleados</div>
    <ul class="pcoded-item pcoded-left-item">
        <li>
            <a href="#" th:href="@{/empleados/form_register}" sec:authorize="hasAuthority('WRITE_EMPLEADO')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-user"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Agregar Empleado</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/empleados/}" sec:authorize="hasAuthority('READ_EMPLEADO')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Listado de Empleados</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
         <li>
            <a href="#" th:href="@{/cita_negocio/list}" sec:authorize="hasAuthority('READ_CITA_NEGOCIO')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Lista cita negocio</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
   
    </ul>
    
     <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Puestos</div>
    <ul class="pcoded-item pcoded-left-item">
        <li>
            <a href="#" th:href="@{/agregar_puesto}" sec:authorize="hasAuthority('WRITE_PUESTO')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-user"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Agregar Puesto</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/listPuesto}" sec:authorize="hasAuthority('READ_PUESTO')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Listado de Puestos</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
   
    </ul>
    
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Asignaci&oacute;n de puesto</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class = "block">      
        	<a href="#" th:href="@{/asignacionpuesto/form_register}" sec:authorize="hasAuthority('WRITE_ASIGNACION_PUESTO')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-user"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Agregar Asignaci&oacute;n de puesto</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li  class = "block">
            <a href="#" th:href="@{/asignacionpuesto/}" sec:authorize="hasAuthority('READ_ASIGNACION_PUESTO')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Listado de asignaciones de puestos</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>
    
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Asignaci&oacute;n de usuario</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class = "block">      
        	<a href="#" th:href="@{/asignacionusuario/form_register}" sec:authorize="hasAuthority('WRITE_ASIGNACION_USUARIO')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-user"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Agregar Asignaci&oacute;n de usuario</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li  class = "block">
            <a href="#" th:href="@{/asignacionusuario/}" sec:authorize="hasAuthority('READ_ASIGNACION_USUARIO')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Listado de asignaciones de usuarios</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>
    
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Usuarios</div>
    <ul class="pcoded-item pcoded-left-item">
        <li>
            <a href="#" th:href="@{/users/add_user}" sec:authorize="hasAuthority('WRITE_USER')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-user"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Registrar usuario</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/users}" sec:authorize="hasAuthority('READ_USER')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Listado de usuarios</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>
    
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Roles</div>
    <ul class="pcoded-item pcoded-left-item">
        <li>
            <a href="#" th:href="@{/roles/add_role}" sec:authorize="hasAuthority('WRITE_ROLE')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-user"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Registrar rol</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/roles}" sec:authorize="hasAuthority('READ_ROLE')" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Listado de roles</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>  
</div>

</body>
</html>
