<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>

<body>
<div th:fragment="menu">
<!--  
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Layout</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#" th:href="@{/}" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Inicio</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>-->
     <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Configuración</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Configuraciones</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">
  
                <li class="pcoded-hasmenu">
                    <a href="#" class="waves-effect waves-dark" >
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Tipos de productos</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
	                    <li>
		                    <a th:href="@{/tipomedicamento/new}"  sec:authorize="hasAuthority('WRITE_TIPO_MEDICAMENTO')" class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Registrar tipo </span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
	                     <li>
		                    <a th:href="@{/tiposmedicamento}" sec:authorize="hasAuthority('READ_TIPO_MEDICAMENTO')" class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Ver Listado de tipos</span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
                    </ul>
                   
                </li>
                
                 <li class="pcoded-hasmenu">
                    <a href="#" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Marcas</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                     <ul class="pcoded-submenu">
	                    <li>
		                    <a th:href="@{/marca/new}" sec:authorize="hasAuthority('WRITE_MARCA')"  class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Registrar marca </span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
	                     <li>
		                    <a th:href="@{/marca/marcas}" sec:authorize="hasAuthority('READ_MARCA')" class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Ver Listado de marcas</span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
                    </ul>
                   
                </li>
                
                <li class="pcoded-hasmenu">
                    <a href="#" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Proveedores</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
	                    <li>
		                    <a th:href="@{/proveedor/new}" sec:authorize="hasAuthority('WRITE_PROVEEDOR')" class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Registrar proveedor </span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
	                     <li>
		                    <a th:href="@{/proveedor/proveedores}" sec:authorize="hasAuthority('READ_PROVEEDOR')" class="waves-effect waves-dark">
		                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
		                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Ver Listado de proveedores</span>
		                        <span class="pcoded-mcaret"></span>
		                    </a>
	                    </li>
                   
                    </ul>
                   
                </li>
            </ul>

        </li>
    </ul>
    

    
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Productos</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Productos</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">            
		        <li>
		            <a href="#" th:href="@{/producto/form_create}" sec:authorize="hasAuthority('WRITE_PRODUCTO')" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Registrar producto</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		            <a href="#" th:href="@{/productos}" sec:authorize="hasAuthority('READ_PRODUCTO')" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-list-ol"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Listado de productos</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		            <a href="#" th:href="@{/producto/form_status}" sec:authorize="hasAuthority('READ_PRODUCTO')" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-exchange-vertical"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Estado de Productos</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		            
		        <li>
		            <a href="#" th:href="@{/producto/kardex}" sec:authorize="hasAuthority('READ_PRODUCTO')" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Kardex</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>                        
            </ul>
        </li>
    </ul>
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Compras</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Compras</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">             
		        <li>
		            <a href="#" th:href="@{/producto/ingreso}" sec:authorize="hasAuthority('WRITE_INGRESO')" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Ingreso de productos</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		            <a href="#" th:href="@{/producto/ingresos}" sec:authorize="hasAuthority('READ_INGRESO')" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Lista ingresos de productos registrados</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		            <a href="#" th:href="@{/producto/ingresos/list/temp}" sec:authorize="hasAuthority('READ_INGRESO')" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Lista ingresos de productos sin registrar</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>		                                
            </ul>
        </li>
    </ul>
 
   <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Existencias</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="#"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Existencias</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">             
		        <li>
		            <a  th:href="@{/existencia/create}" sec:authorize="hasAuthority('WRITE_EXISTENCIA')" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Ajuste de existencia</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		            <a  th:href="@{/existencias}" sec:authorize="hasAuthority('READ_EXISTENCIA')" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="ti-package"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Lista de existencias</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>		                                
            </ul>
        </li>
    </ul>
    
    <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Reportes</div>
    <ul class="pcoded-item pcoded-left-item">
       <li class="pcoded-hasmenu">
           	<a href="#"  class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Reportes</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">            
                   
		        <li>
		            <a href="#" th:href="@{/producto/pdf_producto}" sec:authorize="hasAuthority('READ_PRODUCTO')" target="_blank" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="fa fa-file-pdf-o"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Productos disponibles en inventario</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		        <a href="#" th:href="@{/producto/producto_desactivado}" sec:authorize="hasAuthority('READ_PRODUCTO')" target="_blank" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="fa fa-file-pdf-o"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Productos que ya no se encuentran disponibles en inventario</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li>
		        <li>
		        <a href="#" th:href="@{/producto/producto_existenciabaja}" sec:authorize="hasAuthority('READ_PRODUCTO')" target="_blank" class="waves-effect waves-dark">
		                <span class="pcoded-micon"><i class="fa fa-file-pdf-o"></i><b>FC</b></span>
		                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Productos con existencias mínimas</span>
		                <span class="pcoded-mcaret"></span>
		            </a>
		        </li> 
		             
            </ul>  
    	</li>
    </ul>
</div>
</body>
</html>
