<scripts>
    <!-- scripts-start -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
     <script type="text/javascript" th:src="@{/js/jquery.dataTables.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.js}"></script>
<!--    <script type="text/javascript" th:src="@{/js/dataTables.min.js}"></script>-->


	<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/dataTables.fixedHeader.min.js}"></script>
	<!--  <script type="text/javascript" th:src="@{/js/dataTables.responsive.min.js}"></script>-->
	<script type="text/javascript" th:src="@{/js/dataTables.responsive.js}"></script>
	<script type="text/javascript" th:src="@{/js/responsive.bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/tablas.js}"></script>

    <script type="text/javascript" th:src="@{/pages/widget/excanvas.js}"></script>
    <!-- waves js -->
    <script  th:src="@{/pages/waves/js/waves.min.js}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" th:src="@{/js/jquery-slimscroll/jquery.slimscroll.js}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" th:src="@{/js/modernizr/modernizr.js}"></script>
    <!-- slimscroll js -->
    <script type="text/javascript" th:src="@{/js/SmoothScroll.js}"></script>
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <!-- Chart js -->
    <script type="text/javascript" th:src="@{/js/chart.js/Chart.js}"></script>
    <!-- amchart js -->
   <!--  <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script> -->
   <!--  <script type="text/javascript" th:src="@{/pages/widget/amchart/gauge.js}"></script>
    <script type="text/javascript" th:src="@{/pages/widget/amchart/serial.js}"></script>
    <script type="text/javascript" th:src="@{/pages/widget/amchart/light.js}"></script>
    <script type="text/javascript" th:src="@{/pages/widget/amchart/pie.min.js}"></script> -->
    <!-- menu js -->
    <script type="text/javascript" th:src="@{/js/pcoded.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vertical-layout.min.js}"></script>
    <!-- custom js -->
    <!--<script type="text/javascript" th:src="@{/pages/dashboard/custom-dashboard.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

	<script type="text/javascript" th:src="@{/js/bootstrap-growl.min.js}"></script>
	<script type="text/javascript" th:src="@{/pages/notification/notification.js}"></script>
    <script type="text/javascript" th:src="@{/js/cleave.js}"></script>

    <script type="text/javascript" th:src="@{/js/validate_letter.js}"></script>
    <script type="text/javascript" th:src="@{/js/mobiscroll.javascript.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/select2/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/phone_mask_form.js}"></script>
    <script type="text/javascript" th:src="@{/js/date_form.js}"></script>
    <script type="text/javascript" th:src="@{/js/date_mask.js}"></script>
    <script type="text/javascript" th:src="@{/js/select2_form.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatableGeneral.js}"></script>
    <script type="text/javascript" th:src="@{/js/calculate_age.js}"></script>
    <script type="text/javascript" th:src="@{/js/calculo_imc_pc.js}"></script>
    <script type="text/javascript" th:src="@{/js/modProductos.js}"></script> 

<!--    <script type="text/javascript" th:src="@{/js/highcharts.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/js/exporting.js}"></script>-->

    <script type="text/javascript" th:src="@{/js/grafico_consultas.js}"></script>

    <script type="text/javascript" th:src="@{/js/canvasjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax/reason_consultation.js}"></script>
    <script type="text/javascript" th:src="@{/js/print.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-validation-1.19.1/jquery.validate.min.js}"></script>

</scripts>
