<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<head th:replace="base/head :: header"></head>

<body>
<style>
    #customFile .custom-file-control::after {
        content: "Select file...";
    }
    #customFile .custom-file-control::before {
        content: "Click me";
    }
    #customFile .custom-file-control:lang(es)::after {
        content: "Seleccionar archivo...";
    }
    #customFile .custom-file-control:lang(es)::before {
        content: "Seleccionar";
    }
    .custom-file-control.selected:lang(en)::after {
        content: "" !important;
    }
    .custom-file {
        overflow: hidden;
    }
    .custom-file-control {
        white-space: nowrap;
    }
</style>
<section class="login-block">
        <div class="container" style="margin-top: 30px">
            <div class="card">
                <div class="jumbotron">
                    <h1 style="text-align: center;">Archivo BACkUP DB</h1>
                </div>
                <form method="post" th:action="@{/restore_db/form/restore}" enctype="multipart/form-data" id="fileUploadForm" class="container">
                    <div class="form-group">
                        <label class="custom-file" id="customFile">
                            <input type="file"  class="custom-file-input" name="file" aria-describedby="fileHelp">
                            <span class="custom-file-control form-control-file"></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="custom-file" id="password">
                            <input type="password" class="form-control" name="password" placeholder="password..">
                        </label>
                    </div>
                    <div style="margin-bottom: 10px">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                    <div style="margin-bottom: 10px">
                        <a th:href="@{/login}" class="btn btn-primary">Regresar login</a>
                    </div>
                </form>
            </div>
        </div>
</section>
<div th:replace="base/footer :: footer"></div>
<script th:replace="base/script :: scripts"></script>
<script>
    $('.custom-file-input').on('change',function(){
        $(this).next('.form-control-file').addClass("selected").html($(this).val());
    })
</script>
</body>
</html>