<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_usuarios}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

</head>

<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Listado de Roles de Usuarios</a></li>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header">
					<h5>Registros de roles de usuario</h5>
					<a class="btn btn-sm btn-default" th:href="${'/roles/add_role'}"> Nuevo </i></a>
					<div class="card-header-right">
						
						<ul class="list-unstyled card-option">
							
							<li><i class="fa fa fa-wrench open-card-option"></i></li>
							<li><i class="fa fa-window-maximize full-card"></i></li>
							<li><i class="fa fa-minus minimize-card"></i></li>
							<li><i class="fa fa-refresh reload-card"></i></li>
							<li><i class="fa fa-trash close-card"></i></li>
						</ul>
					</div>
				</div>
				<div class="card-block table-border-style">
					<div class="table-responsive-xl">
					<div th:if="${not #lists.isEmpty(roles)}">
						<table id="tablausuario" class="table table-sm table-striped table-hover dt-responsive display nowrap" style="width:100%">
							<thead class="thead-dark">
								<tr>
									<th >Id</th>
									<th>Nombre</th>
									<th>Detalle</th>
									<th></th>									
								</tr>
							</thead>
							<tbody>
								<tr data-th-each="role : ${roles}">
									<td th:text="${role.id}">id</td>
									<td th:text="${role.name}">rolename</td>
									<td th:text="${role.details}">detalles</td>

									<td>
										<a class="btn btn-sm waves-effect waves-light btn-success" th:href="@{'/roles/show_role/' + ${role.id}}"><i class="icofont icofont-eye-alt"></i></a>
										<a class="btn btn-sm waves-effect waves-light btn-info" th:href="@{'/roles/edit_role/' + ${role.id}}"><i class="fa fa-pencil"></i></a>
										<a class="btn btn-sm waves-effect waves-light btn-danger" th:href="@{'/roles/delete_role/' + ${ role.id}}"><i class="fa fa-trash"></i></a>							
									</td>
								</tr>
			
							</tbody>
						</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>