<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_usuarios}">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<body>
	<div class="pcoded-inner-content"  layout:fragment="page_content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<div class="row justify-content-between" role="main" >					    
						<div class = "col-md-6 col-12">
							<div class="card">
								<div class="card-header">
									<h5>Registrar Rol</h5>
								</div>
								<div class="card-block">
                                <form class="form-material" th:action="@{/roles/add_role}" th:object="${roleModel}" method="post" id="form_register_role" name="form_register_role">
									   <div class="form-group form-default">
	                                      <input type="text" name="name" id="name" class="form-control" required="true" th:field="*{name}"  minlength="4" maxlength="40" pattern="[A-Za-z0-9\-_]+" placeholder="Solamente letras sin espacios">
	                                      <span class="form-bar"></span>
	                                      <label class="float-label">Nombre: </label>
	                                   </div>
									   
	                                   <div class="form-group form-default">
	                                      <input type="text" name="details" id="details" class="form-control" th:field="*{details}"maxlength="100">
	                                      <span class="form-bar"></span>
	                                      <label class="float-label">Descripci&oacute;n: </label>
	                                   </div>
	                                   
		                                   <div class=" form-default">
		                                   	  <label th:text="Permisos" class="row-form-label form-control-label m-2" ></label>
											  <input class="form-control" id="myInput" type="text" placeholder="Buscar...">
											  <br>
											  <div class="list-group" id="myList" style ="height:200px; overflow-y: scroll;">
											  	<div class = "form-inline" th:each="permiss :${permissions}">
													<input class="form-inline-xs" type = "checkbox" name ="permisses" th:field="${roleModel.permissions}" th:value="${permiss.id}">											  		
											  		<label th:text = "${permiss.name}" class = "ml-2"></label>											  	
											  	</div>												
											  </div> 
											  <br>		                                   
											  <input type = "button" id="selectAll" class = " btn-sm btn-default" value = "Todos">
											  <input type = "button" id="selectClear" class = " btn-sm btn-default" value = "Limpiar">
										 </div>	 	                                   
                                   
                                </form>                                  
								</div>
							</div>
						</div>
                       <div class="col-md-4">
                          <div class="card">
                             <div class="card-header">
                                <h5>Acciones</h5>
                             </div>
                         	 <div class="card-block">
                               <button class="btn btn-sm waves-effect waves-light btn-primary btn-outline-primary" id="submit" form="form_register_role"><i class="icofont icofont-info-square"></i>Guardar</button>
                               <a th:href="@{/roles}" class="btn btn-sm waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                             </div>
                         </div>
                       	  <div th:if="${result==1}" class="alert alert-success" style="font-size: 20px" role="alert">Guardado exitosamente</div> 
                         <div th:if="${result==0}" class="alert alert-danger" style="font-size: 20px" role="alert">Error, intente de nuevo</div>

                       <!-- Page-body end -->
                       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
<script>
$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myList div").filter(function() {
	      $(this).toggle($(this).find('label').text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	  $("#selectAll").click(function(){
		  $("#myList div").each(function(){
			  $(this).find('input').prop("checked",true);
		  });
	  });
	  $("#selectClear").click(function(){
		  $("#myList div").each(function(){
			  $(this).find('input').prop("checked",false);
		  });
	  });
	});
</script>
