<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_usuarios}">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<body>
	<div class="pcoded-inner-content"  layout:fragment="page_content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<div class="row justify-content-around" role="main" >
					    
						<div class="col-md-6 ">
							<div class="card">
								<div class="card-header">
									<h5>Informaci&oacute;n del Rol</h5>
									<!-- <span>Boton de crear o un buscador</span> -->

								</div>
								<div class="card-block">
                                <form class="form-material" th:action="@{/roles/add_role}" th:object="${roleModel}" method="post" id="form_register_role" name="form_register_role">
                                   <div class="form-group form-default">                                  
                                      <label class="" style="font-weight: bold;">Nombre: </label>
                                      <input type="text" name="name" id="name" class="form-control" required="true" th:field="*{name}"  minlength="4" maxlength="40" pattern="[A-Za-z0-9\-]+" disabled>
                                   </div>
                                   <div class="form-group form-default">
                                   		<label class="" style="font-weight: bold;">Descripci&oacute;n: </label>
                                      <input type="text" name="details" id="details" class="form-control" th:field="*{details}"maxlength="100" disabled>
                                   </div>
                                   
		                                   <div class=" form-default">
		                                   	  <label th:text="Permisos" class="row-form-label form-control-label m-2" ></label>
											  <input class="form-control" id="myInput" type="text" placeholder="Buscar...">
											  <br>
											  <div class="list-group" id="myList" style ="height:200px; overflow-y: scroll;">
											  	<div class = "form-inline" th:each="permiss :${roleModel.permissions}">									  		
											  		<label th:text = "${permiss.name}" class = "ml-2"></label>											  	
											  	</div>												
											  </div> 
										 </div>                                   

                                   </form>
                                   
								</div>
							</div>
						</div>
						
                       <div class="col-md-4">
                          <div class="card">
                             <div class="card-header">
                                <h5>Acciones</h5>
                             </div>
                         	 <div class="card-block">
                               <a class="btn btn-sm  waves-effect waves-light btn-info" th:href="@{'/roles/edit_role/' + ${roleModel.id}}"><i class="fa fa-pencil"></i></a> 
                               <a th:href="@{/roles}" class="btn btn-sm  waves-effect waves-light btn-warning btn-outline-warning"><i class="icofont icofont-warning-alt"></i>Cancelar</a>
                             </div>
                         </div>

                       <!-- Page-body end -->
                       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
<script>
$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myList div").filter(function() {
	      $(this).toggle($(this).find('label').text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
</script>