<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base/base_usuarios}">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Lista de asignaciones de puestos </title>
<body>
	<li class="breadcrumb-item" layout:fragment="li_content">Lista de asignaciones de puestos </a></li>

	<div class="row" role="main" layout:fragment="page_content">
		<div class="col-md-12">

			<div class="card">
				<div class="card-header">
					<h5>Asignaciones de puesto Ingresados</h5>
					<div th:if="${result==1}" class="alert alert-success" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
					<div th:if="${result==0}" class="alert alert-danger" style="font-size: 15px" role="alert" th:text="${mensaje}"></div>
				</div>
				<div class="card-block table-border-style">
					 <div class="table-responsive-xl">
						<div th:if="${not #lists.isEmpty(asignaciones)}">
							 <table id="tablageneral" class="table table-striped table-hover dt-responsive display nowrap" style="width:100%">
								<thead class="thead-dark">
									<tr>
										<th>id</th>
										<th>Empleado</th>
										<th>Puesto</th>
										<th>Estado</th>
										<th>Opciones</th>

									</tr>
								</thead>
								<tbody>
									<tr data-th-each="em : ${asignaciones}">
											<td><a class="btn btn-primary btn-round waves-effect waves-light" th:text="${em.id}" th:href="@{'/asignacionpuesto/show/'+${em.id}}"></a></td>
											<td th:text="${em.empleado.persona.nombre}">Empleado</td>
											<td th:text="${em.puesto.nombre}">Puesto</td>
											<td th:text="${em.estado}">Estado</td>
											<td><a class="btn waves-effect waves-light btn-success"
												th:href="@{'/asignacionpuesto/show/' + ${em.id}}"><i
													class="icofont icofont-eye-alt"></i></a> <a
												class="btn waves-effect waves-light btn-info"
												th:href="@{'/asignacionpuesto/edit/' + ${em.id}}"><i
													class="fa fa-pencil"></i></a>
												<a class="btn waves-effect waves-light btn-danger"
												th:href="@{'/asignacionpuesto/deleteForm/' + ${em.id}}"><i
													class="fa fa-trash"></i></a>
											</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>