<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base_usuarios}">
<meta charset="ISO-8859-1">
<body>
<li class="breadcrumb-item" layout:fragment="li_content">Registrar asignación de puesto</a></li>
<div class="row justify-content-around" role="main" layout:fragment="page_content">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Registrar Asginaci&oacute;n de puesto</h5>
                <h6><span th:text="${date_today}"></span></h6>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
            	<form class="form-material" th:action="@{'/asignacionpuesto/show/' + ${asignacion.id}}" th:object="${asignacion}" method="get" >
                    <div class="form-group form-default">
                        <select class = "form-control" th:field="*{empleado.id}" disabled>
							<option th:value="${asignacion.empleado.id}"  th:text="${asignacion.empleado.persona.nombre +' '+ asignacion.empleado.persona.apellido}" th:errorClass="'form-control form-control-danger'"></option>												
						</select>
                        <label class="" style="font-weight: bold;">Empleado</label>
                    </div>
                    
                    <div class="form-group form-default">
                        <select class = "form-control" th:field="*{puesto.id}" disabled>
							<option  th:value="*{puesto.id}"  th:text="*{puesto.nombre}" th:errorClass="'form-control form-control-danger'"></option>												
						</select>
                        <label class="" style="font-weight: bold;">Puesto</label>
                    </div>
                    <div class="form-group form-default">
                        <input type="text"  name="footer-email" class="form-control " th:field="*{updatedAt}" value="*{updatedAt}" disabled>
                        <label class="" style="font-weight: bold;">Fecha de Modificaci&oacute;n:</label>
                    </div>
                    <div class="form-group form-default">
                        <input type="checkbox"  name="footer-email" class="form-control " th:field="*{estado}" disabled>
                        <label class="" style="font-weight: bold;">Activo:</label>
                    </div>

                 </form>   

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Acciones</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
                <a th:href="@{/asignacionpuesto/}" class="btn waves-effect waves-light btn-warning btn-outline-warning"><i
                        class="icofont icofont-warning-alt"></i>Cancelar</a>
            </div>
        </div>

        <!-- Page-body end -->
    </div>
    <div id="styleSelector"></div>
</div>

</body>
<div th:replace="base/base :: footer">

</div>
<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>

</html>